
<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
      body {
          max-width: 960px;
          margin: 0 auto;
          line-height: 150%;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>অধ্যায় ১</h1>
    <h2>বিভাজ্যতা <br>
    Divisibility </h2>

    <p>বিভাজ্যতা নিয়ে আমরা সবসময়ই জেনে বা না জেনে ভেবেছি। যেমন আমার \(10\) টা চকলেট থাকলে সেগুলো \(5\) জন বন্ধুকে সমানভাবে ভাগ করে দেওয়া যাবে, কিন্তু চারজনকে সমান ভাগ করে দেওয়া যাবে না। অথবা স্কুলের ক্লাসে \(45\) জন ছাত্র থাকলে তারা \(5\) বা \(9\) টা লাইনে সমানভাবে দাঁড়াতে পারে, কিন্তু \(4,6\) বা \(10\) টা লাইনে দাঁড়ালে সব লাইনে সমান সংখ্যক ছাত্র থাকতে পারে না। এই সাধারণ ধারণাগুলোই সংখ্যাতত্ত্বের ভিত্তি। কিন্তু সাধারন এই ধারনাগুলোই জন্ম দিয়েছে অসংখ্য অসাধারন সমস্যার। মানুষ তার কতগুলোর সমাধান করতে  পেরেছে। আবার কতগুলোর কোন কুল-কিনারা করা যায়নি। যেমন বলা যায় ফার্মার শেষ উপপাদ্যের কথা। এই উপপাদ্য বলে, \(n>2\) একটা পূর্ণসংখ্যা হলে এমন তিনটি স্বাভাবিক সংখ্যা \(a,b,c\) পাওয়া যাবে না যেন \(a^n+b^n=c^n\) হয়।  আপাত দৃষ্টিতে সরল দর্শন এই সমস্যার সমাধান করতে মানুষের লেগেছে প্রায় চারশ বছর! যদিও ফার্মা নিজেই চমৎকার একটি প্রমাণ আবিষ্কার করার দাবি করেছিলেন, তবুও তার সত্যতা যাচাই করা যায়নি।</p>

    <p>আবার বলা যায় টুইন প্রাইম কনজেকচারের (Twin Prime Conjecture) কথা। \(1\) থেকে বড় যেসব সংখ্যার মাত্র দুইটি ধনাত্মক পূর্ণসংখ্যা উৎপাদক আছে তাদের মৌলিক সংখ্যা বলে। আর দুইটি মৌলিক সংখ্যার পার্থক্য \(2\) হলে তাদের টুইন প্রাইম বলে। যেমন \((3,5)\)  আর \((41,43)\) দুই জোড়া টুইন প্রাইম। এখন টুইন প্রাইম কনজেকচার বলে যে এরকম টুইন প্রাইমের জোড়া অসীম সংখ্যক। এই সমস্যার সমাধান এখনও হয়নি। এরকম আরও অনেক চমকপ্রদ সমস্যায় তৈরি এলিমেন্টারি নাম্বার থিওরির জগৎ। একেবারে গোড়ার একটা সংজ্ঞা দিয়ে শুরু করা যাক। </p>

    <p><strong>বিভাজ্যতা(divisibility)</strong>: \(a\) ও \(b\) দুটি পূর্ণসংখ্যা হলে, \(a\) দ্বারা \(b\) বিভাজ্য বলতে বোঝায় যে এমন একটি পূর্ণসংখ্যা \(c\) আছে যেন \(ac=b\) হয়। \(a\) দ্বারা \(b\) বিভাজ্য কে \(a।b\) লেখা হয়। একে পড়া হয় \(b\) <em>is divisible by</em> \(a\) অথবা, \(a\) <em>divides</em> \(b\). যেমনঃ \(3\) দ্বারা \(42\) সংখ্যাটি বিভাজ্য, কারণ এমন একটি পূর্ণসংখ্যা \(14\) আছে যেন \(3 \times 14 = 42\) হয়। আবার যেকোন অশূণ্য পূর্ণসংখ্যা \(n\) এর জন্য  \(n|0\) এবং \(n|n\) হবে।</p>

    <p><b>উৎপাদক (divisor or factor)</b>এবং <b>গুণিতক (multiple)</b>: \(a\) দ্বারা \(b\)  বিভাজ্য হলে \(a\) কে \(b\) এর একটি উৎপাদক বলে, আর  \(b\) কে \(a\) এর গুণিতক বলা হয়। উপরের উদাহরণে \(3\) ও \(14\) উভয়েই \(42\) এর উৎপাদক এবং \(42\)  হল \(3\) ও \(14\) এর গুণিতক।</p>

    <p>এখন বিভাজ্যতা সম্পর্কিত কয়েকটি সরল কিন্তু গুরুত্বপূর্ণ উপপাদ্য দেখা যাক। </p>

    <p><b>উপপাদ্য(1.1)</b>: <br>
    \(I)\) \(a\) দ্বারা \(b\) বিভাজ্য হলে যেকোনো পূর্ণসংখ্যা \(c\) এর জন্য \(bc, \ a\) দ্বারা বিভাজ্য হবে। <br>
    \(II)\) \(a\) দ্বারা \(b\) ও \(c\) উভয়েই বিভাজ্য হলে \(a\) দ্বারা \(b+c\) ও \(b-c\) উভয়েই বিভাজ্য হবে। </p>

    <p> প্রমাণঃ \(I)\)যেহেতু, \(a |b\) ফলে এমন পূর্ণসংখ্যা \(k\) আছে যেন \(b = ak\) হয়। তাহলে, \(bc = akc = a(kc)\). অর্থাৎ \(a|bc\). <br>
    \(II)\) যেহেতু, \(a|b\) এবং  \(a|c\), ফলে এমন পূর্ণসংখ্যা \(u,v\) আছে যেন \(b = au, c=av\) হয়। তাহলে, \(b \pm c = a(u \pm v)\), যেটি অবশ্যই \(a\) দ্বারা বিভাজ্য। \( \square \) </p>

    <b>সমস্যাঃ </b> একটি ধনাত্মক পূর্ণসংখ্যা দ্বারা \(678\) ও \(680\) উভয়কেই ভাগ করা যায়। সংখ্যাটি কত? </p>
    <p><b>সমাধানঃ</b> সংখ্যাটি \(n\) হলে, \(n | 678\) এবং \(n|680\). অতএব \(n|680-678=2\). কিন্তু \(2\) কে ভাগ করে এমন ধনাত্মক সংখ্যা হল শুধু \(1\) ও \(2\). অর্থাৎ সংখ্যাটি \(1\) অথবা \(2\). \( \square \)

    <p><b>মৌলিক ও যৌগিক সংখ্যা (prime and composite numbers)</b>: \(1\) হতে বড় কোন স্বাভাবিক সংখ্যাকে \(1\) ও সেই সংখ্যা ছাড়া অন্য কোন সংখ্যা দ্বারা ভাগ করা না গেলে সেই সংখ্যাকে মৌলিক সংখ্যা বলে। যেমন \(2,3,997\) সংখ্যাকে \(1\) এবং এই সংখ্যাগুলো ছাড়া অন্য কোন সংখ্যা দ্বারা ভাগ করা যায় না। তাই এরা প্রত্যেকেই মৌলিক সংখ্যা। \(1\) হতে বড় সংখ্যাগুলোর মধ্যে মৌলিক সংখ্যা ছাড়া আর সব সংখ্যা যৌগিক সংখ্যা। লক্ষ্য কর, \(1\) সংখ্যাটি মৌলিকও নয়, যৌগিকও নয়। \(1\) কে ইউনিট নাম্বার বলা হয়। </p>

    <p><b> জোড় ও বিজোড় সংখ্যা (even and odd numbers):</b> \(2\) দ্বারা বিভাজ্য পূর্ণসংখ্যাকে জোড় সংখ্যা বলে। কোন পূর্ণসংখ্যা জোড় না হলে তাকে বিজোড় সংখ্যা বলে। যেমন, \(0, 2, -4, 66 \) হল জোড় সংখ্, যা আর -\(21, 1, 3, 77\) হল বিজোড় সংখ্যা। </p>

    <p><b>সমস্যাঃ <br>
    1.</b> 2 একটি মৌলিক সংখ্যা। এটি ছাড়া আর কোন জোড় সংখ্যা কি মৌলিক হতে পারে? <br>
    <b>2. </b>  দুটি ক্রমিক সংখ্যার প্রত্যেকেই  কি মৌলিক হতে পারে? হলে এরকম কত জোড়া সংখ্যা আছে? <br>
    <b>3. </b>  দুটি মৌলিক সংখ্যার যোগফল \(999\). সংখ্যা দুটি কত কত? <br>
    <b>4. </b>  \(p^2+p\) সংখ্যাটির দুটি মৌলিক উৎপাদক আছে।  \(p\) এর মান কি কি হতে পারে? </p>

    <p><b>উপপাদ্য(1.2)</b>: যেকোনো পূর্ণসংখ্যাকেই \((>1)\) এক বা একাধিক মৌলিক সংখ্যার গুণফল হিসাবে লেখা যায়। <p>

    <p><b>প্রমাণঃ</b> স্পষ্ট, কারণ কোন সংখ্যা যৌগিক হলে সংজ্ঞা অনুসারেই তাকে \(1\) হতে বড় দুটি সংখ্যার গুণফল আকারে লেখা যায় যাদের প্রত্যেকটিই সংখ্যাটি হতে ছোট। আবার এই সংখ্যা দুটির কোনটি যৌগিক হলে তাকে একাধিক মৌলিক বা যৌগিক সংখ্যার যোগফল আকারে লেখা যায়। এভাবে শেষ পর্যন্ত গুণ আকারে লেখা সবগুলো সংখ্যাই মৌলিক হিসাবে পাওয়া যাবে। অর্থাৎ, মুল সংখ্যাটিকে কতকগুলো মৌলিক সংখ্যার গুণফল আকারে লেখা গেল। \( \square \)  <p>

    <p><b>ডিভিশন এলগরিদম (division algorithm)(1.3)</b>: \(a\) ও \(b\) যেকোনো দুটি পূর্ণসংখ্যা হলে, যেখানে \(b \not = 0\), এমন দুটি অনন্য পূর্ণসংখ্যা \(c, d\) পাওয়া যাবে যেখানে \(a = bc+d\) এবং \(0 \leq d < |b|\) হবে। </p>

    <p><b>প্রমাণঃ </b> প্রথমে ধরা যাক \( b > 0\). এই সেটটি দেখঃ \( S = \{ \dots,-3b,-2b,-b,0,b,2b,3b, \dots \} \)। যদি \(a\) সংখ্যাটি এই সেটের কোন সংখ্যার সমান হয় তাহলে আমরা পাবো \(a = sb\) বা, \(a = sb + 0\). আর যদি \(a\) সংখ্যাটি এই সেট এর কোন সংখ্যার সমান না হয়, তাহলে \(a\) নিশ্চয় এই সেট এর কোন দুইটি সংখ্যার মাঝে থাকবে। ধরা যাক, \(sb\) আর \((s+1)b\) এর মাঝে \(a\) আছে। তাহলে ধরি \(a - sb = d\) , যেখানে \(0 < d\).
    এখন, যদি \(d \geq b\) হয়, তাহলে আমরা পাবো \(a = d+sb \geq b+sb = b(s+1)\) যা,  \(sb < a < b(s+1)\) শর্ত কে লঙ্ঘন করে। সুতরাং বলা যায় \(b>d\). \(c\) এবং \(d\)  যে অনন্য হবে তাও এই প্রমাণ হতে সুস্পষ্ট। \( b < 0 \) হলে অনুরূপভাবে দেখানো যাবে যে আমাদের উপপাদ্যটি সঠিক। \( \square \) </p>

    <p><b>উপপাদ্য(1.4)</b>: মৌলিক সংখ্যার সংখ্যা অসীম। </p>

    <p><b>প্রমাণঃ </b> যদি কেবল সসীম সংখ্যক মৌলিক সংখ্যা থাকে তাহলে আমরা ধরা নিতে পারি, কেবলমাত্র \( k\) সংখ্যক মৌলিক সংখ্যা আছে, যেগুলো হল \(p_1,p_2,\dots,p_k\) . এখন,  \(n = p_1 p_2 \dots p_k + 1\) সংখ্যাটি দেখা যাক। এই সংখ্যাটি যদি যৌগিক সংখ্যা হয় তাহলে এর অবশ্যই কোন মৌলিক উৎপাদক থাকবে, যেটি হবে আমাদের জানা \(k\) টি মৌলিক সংখ্যার মধ্যে কোন একটি। কিন্তু এই মৌলিক সংখ্যার যেকোনোটি দ্বারা \(n\) কে ভাগ করলে ভাগশেষ হবে \(1\), অর্থাৎ এদের কোনটি দিয়েই \(n\) কে নিঃশেষে ভাগ করা যায় না। অর্থাৎ \(n\) এর অন্য কোন মৌলিক উৎপাদক আছে ।সেক্ষেত্রে আমাদের প্রমাণ সম্পূর্ণ হয়ে গেল।
    এখন যদি \(n\) নিজেই একটি মৌলিক সংখ্যা হয়, তাহলেও আমরা আরেকটি নতুন মৌলিক সংখ্যা পাই।
    উভয় ক্ষেত্রেই আমরা নতুন একটা মৌলিক সংখ্যা পেলাম। অর্থাৎ কেবলমাত্র সসীম সংখ্যক মৌলিক সংখ্যা থাকতে পারে না। ফলে অবশ্যই অসীম সংখ্যক মৌলিক সংখ্যা আছে। \( \square \) </p>

    <p><b>অনুসিদ্ধান্তঃ</b> এখান থেকে বলা যায়, যদি \(p_k\)  দ্বারা \(k\) তম মৌলিক সংখ্যা বোঝানো হয়, তবে \( p_k \leq p_1 p_2…..p_{k-1} + 1 \) </p>
  </body>
</html>
