<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
    body {
        max-width: 960px;
        margin: 0 auto;
        line-height: 150%;
      }
  </style>
    <title></title>
  </head>
  <body>
    <h1>অধ্যায় ১০</h1>

    <h2>আরও অনেক সমস্যা </h2>

    <ol>
    <li>দেখাও যে, \(17|2x+3y\) যদি ও কেবল যদি \(17|9x+5y\). </li>
    <li>স্বাভাবিক সংখ্যা \(n\) এর জন্য \((21n+4, 14n+3)\) বের কর। </li>
    <li>তোমার কাছে শুধু \(3\) আর \(4\) টাকার নোট আছে (দুইটাই অসীমসংখ্যক)। তুমি তোমার বন্ধুকে এই দুই রকম নোট ব্যবহার করে সর্বোচ্চ কত টাকা দিতে পারবে না?</li>
    <li>সকল স্বাভাবিক সংখ্যা \(n\) বের কর যেন \(2^n |3^n-1\) হয় </li>
    <li>প্রমাণ কর যে, যেকোন বিজোড় মৌলিক সংখ্যা \(p\) এর জন্য \(p|(p-2)!-1\).</li>
    <li>এমন সকল স্বাভাবিক সংখ্যার জোড়া \((x,y)\) বের কর যেন \(ab^2+b+7 | a^2b+a+b\) </li>
    <li>প্রমাণ কর যেকোন স্বাভাবিক সংখ্যা \(n\) এর জন্যই \(169| 3^(3n+3)-26n-27\). </li>
    <li>প্রমাণ কর যে, যেকোন স্বাভাবিক সংখ্যা \(n\) এর জন্য \(133| 11^(n+2)+12^(2n+1)\)</li>
    <li>প্রমাণ কর যে, \(\frac{1}{1} + \frac{1}{2} + \dots + \frac{1}{n}\) কখনও পূর্ণ সংখ্যা হতে পারে না।</li>
    <li>প্রমাণ কর যে, যেকোন ধনাত্মক পূর্ণসংখ্যা \(n\) এর জন্যই \(\frac{n^5}{5} + \frac{n^4}{2} + \frac{n^3}{3} - \frac{n}{30} একটি পূর্ণসংখ্যা হবে।</li>
    <li>প্রমাণ কর যে, \(n^5-5n^3+4n\) সবসময়ই \(120\) দারা বিভাজ্য।</li>
    <li>প্রমাণ কর যে, \(n^9-6n^7+9n^5-4n^3\) সবসময়ই \(8640\)  দ্বারা বিভাজ্য।</li>
    <li>প্রমান কর যে, বিজোড় মৌলিক সংখ্যা \(p\) এর জন্য \(24|p^2-1\).</li>
    <li>প্রমাণ কর যে, \((a,b)=1\) হলে, \((a+b,a^2-ab+b^2 ) = 1\) অথবা \(3\).</li>
    <li>\( \{1,2,\dots,100\}\) সেট থেকে \(51\) টি সংখ্যা বেছে নিলে সবসময়ই দুইটি সহমৌলিক সংখ্যা থাকবেই।</li>
    <li>সকল সাভাবিক সংখ্যার জোড়া \((a,b)\) বের কর যেন \((a,b)=12\) এবং \([a,b]=432\) হয়।</li>
    <li>\(p\) একটা বিজোড় মৌলিক সংখ্যা এবং \(p|a^p+b^p\). প্রমাণ কর যে, \(p^2 |a^p+b^p\).</li>
    <li>প্রমাণ কর যে, \(n\) বিজোড় সংখ্যা হলে \(n| 1^n+2^n+ \dots +(n-1)^n\)</li>
    <li>\(29^{31^37}\) এর শেষ দুইটি অঙ্ক বের কর।</li>
    <li>ধরা যাক, \(\{a_n=8^n+6^n\}\), যেখানে \(n \in \mathbb{N}\). তাহলে \(a_{100}\) কে \(100\) দ্বারা ভাগ করলে ভাগশেষ কত হবে?</li>
    <li>প্রমাণ কর যে, \(n^{n^{n^n}} - n^{n^n}\) কে \(1989\) নিঃশেষে ভাগ করে।</li>
    <li>দেখাও যে, যেকোন মৌলিক সংখ্যা \(p\) এর জন্য এরকম অসীমসংখ্যক \(n\) আছে যেন \(p|3^n-n\).</li>
  </ol>


    <h3>জাতীয় গণিত অলিম্পিয়াডের সংখ্যাতত্ত্বের সমস্যা</h3>

    <ol>
      <li>\(1\) থেকে \(100\) পর্যন্ত পূর্ণসংখ্যাগুলো লিখে \(N\) সংখ্যাটি পাওয়া গেল। অর্থাৎ,
      \(N = 123456789101112 \dots 99100\). \(N\) কে \(3\) দ্বারা ভাগ করলে ভাগশেষ কত হবে?
    	<li>\( \sqrt{1+2+3+⋯+n}\) একটি পূর্ণসংখ্যা। \(n\) এর সকল মান নির্ণয় কর, যেখান \( 1 < n < 1 0\).
    	<li>যদি \(m + 12 = p^a\) এবং \(p - 12 = p^b\) হয়, যেখানে \(a,b\) স্বাভাবিক সংখ্যা এবং \(p\) একটি মৌলিক সংখ্যা। \(p\) এর সম্ভাব্য সকল মান বের কর।
    	<li>\(x^3 + bx^2 + cx + 11\) রাশির একটি উৎপাদক \(x^2+3x-4\) হলে \(b,c\) এর মান বের কর।
    	<li>প্রমাণ কর যে, দুইটি মৌলিক সংখ্যার পার্থক্য আরেকটি মৌলিক সংখ্যা হলে এদের মধ্যে একটি সংখ্যা \(2\) হবে।
      <li>একটি ধারার n তম পদ হল 1 থেকে n পর্যন্ত সংখ্যাগুলোর ল.সা.গু। এইধারার প্রথম কততম পদটি 100 দ্বারা বিভাজ্য?
    	<li>এই অনুক্রমটি দেখঃ \(ABBCCCDDDDEEEEEFFFFFF\dots\), যেটি \(Z\) এ গিয়ে আবার \(A\) থকে শুরু হয়। এই অনুক্রমের \(2012\) তম বর্ণটি কি?
    	<li>\(f(m)=m \pmod 9)\). একটি সিকোয়েন্স \(A(n)\) এমনভাবে গঠন করা হল যেন \(A(1)=1\) এবং \(A(n) = f(m)\) সংখ্যক \(f(m)\), তারপর \(f(m)\) সংখ্যক 0, যেখানে \(m\) হল \(A(n-1)\) এর অঙ্ক সংখ্যা। \(A(30)\) নির্ণয় কর।
    	<li>প্রমাণ সহ এমন সকল বর্গসংখ্যা বের কর যেগুলো চারটি ক্রমিক ধনাত্মক বিজোড় সংখ্যার গুনফল।
    	<li>যথাযথ প্রমাণ সহ \(13**45*\) সংখ্যাটিতে * চিহ্নগুলো প্রতিস্থাপন কর যেন সংখ্যাটি \(792\) দ্বারা বিভাজ্য হয়।
    	<li>সকল মৌলিক সংখ্যা \(p\) এবং স্বাভাবিক সংখ্যা \(a,b\) নির্ণয় কর যেন \(p^a+p^b\) একটি পূর্ণবর্গ হয়।
    	<li>দেখাও যে, যেকোন মৌলিক সংখ্যা \(p\) এর জন্য এমন অসীম সংখ্যক পূর্ণসংখ্যা \(a\) আছে অথবা একটিও নেই যেন \(6p | a^p+1\).
    	<li>\(f∶\mathbb{N_0} \to \mathbb{N_0}\) বিবেচনা কর, যেখানে \(f(0)=0,\ f(np) = n\) এবং \(f(n) = n + f(\lfloor \frac{n}{p} \rfloor)\),যদি \(p \not | n\) হয়। \(p>1\) একটি ধনাত্মক পূর্ণসংখ্যা \(1 \leq n \leq p^k\) এর জন্য \(f(n)\) এর মান বের কর।
    	<li>\(1 +5.2^n = m^2\) এর সকল ধনাত্মক পূর্ণসংখ্যায় সমাধান বের কর।
    	<li>\(p>3\) একটি মৌলিক সংখ্যা। \(p^2\) কে \(12\) দ্বারা ভাগ করলে ভাগশেষ কত হবে?
    	<li>\(3^{32}-2^{32}\) এর চারটি মৌলিক উৎপাদক বের কর যেগুলো \(100\) এর চেয়ে ছোট।
    	<li>ধর, \(a\) এমন একটি পূর্ণ সংখ্যা যা \(2\) দ্বারা বিভাজ্য কিন্তু \(4\) দ্বারা  বিভাজ্য নয়। সর্বোচ্চ ধনাত্মক পূর্ণসংখ্যা \(n\) এর মান কত যখন \(2^n\) দ্বারা  \(a^{2012} + a^{2013} + a^{2014} + \dots + a^{3012}\) বিভাজ্য?
    	<li>দুইটি পূর্ণসংখ্যার গ.সা.গু এর ও ল.সা.গু এর অনুপাত \(1:36\) এবং সংখ্যা দুইটির যোগফল \(5460\). সংখ্যাদুইটির পার্থক্য কত?
    	<li>একটা স্বাভাবিক সংখ্যাকে <em>nicenumber</em> বলা হয় যদি এর থেকেও ছোট কোন <em>nicenumber</em> থাকে। মোট কয়টি <em>nicenumber</em> আছে?
    	<li>\(p\) এমন একটা মৌলিক সংখ্যা যেন \(p\) এর চেয়ে ছোট যেকোন মৌলিক সংখ্যা \(q\) এর জন্যই \(p+2q\) ও একটা মৌলিক সংখ্যা হবে। \(p\) এর মান সর্বোচ্চ কত হতে পারে?
    	<li>\(n\) এমন একটা পূর্ণসংখ্যা যেন \(n|ab\) হলেই \(n\) দ্বারা \(a,b\) এর অন্তত একটি বিভাজ্য হয়। \(n\) এর উৎপাদক সংখ্যা কয়টি তা প্রমাণ সহ বের কর।
    	<li>এমন কয়টি চার অঙ্কের সংখ্যা আছে যার শেষ দুইটি অঙ্ক দ্বারা একই ক্রমে গঠিত সংখ্যাকে চার গুন করলে প্রথম দুইটি সংখ্যা দ্বারা একই ক্রমে গঠিত সংখ্যা পাওয়া যায়? যেমন \(4812\) এমন একটি সংখ্যা।
    	<li>ছয় অঙ্কের একটি সংখ্যার শেষ অঙ্ক \(1\), এটিকে সরিয়ে সামনে বসানো হল। নতুন যে সংখ্যা পাওয়া গেল সেটি আগের সংখ্যার \(\frac{1}{3}\) গুন। মূল সংখ্যাটি কত?
    	<li>\(N\) একটি জোড় পূর্ণসংখ্যা। প্রমাণ কর যে, \(48\) দ্বারা \(N(N^2+20)\) সংখ্যাটি বিভাজ্য।
    	<li>\(X\) কে \(10\) দ্বারা ভাগ করলে ভাগশেষ হয় \(3\) আর ভাগফল \(y\). তাহলে \(x\) কে \(5\) দ্বারা ভাগ করলে ভাগশেষ কত হবে?
    	<li> \(97 + 98 + 99 + \dots + 115 = 2014\). এইভাবে সর্বোচ্চ কয়টি ক্রমিক ধনাত্মক পূর্ণসংখ্যার যোগফল \(2014\) হতে পারে?
     </ol>
  </body>
</html>
