<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <style>
    body {
        max-width: 960px;
        margin: 0 auto;
        line-height: 150%;
      }
  </style>
    <title>Functional Equations</title>
  </head>
  <body>

    <h3>ফাংশনাল ইকুয়েশন</h3>

    <p><b>প্রিলিমিনারিস </b></p>

    <p>আমি ধরে নিচ্ছি ইতিমধ্যেই ফাংশন কি সেটা নিয়ে তোমার খানিকটা ধারণা আছে। না থাকলে নবম-দশম শ্রেণির উচ্চতর গণিত বইটা থেকে একটু ঘেঁটে দেখ ফাংশন কি। কয়েক ধরণের ফাংশনের যে বর্ণনা আছে সেগুলোও পড়ে দেখ। ফাংশন নিয়ে খানিকটা ধারণা পাওয়ার পর আমরা আগাতে পারি। </p>

    <P>আগে কয়েকটা প্রয়োজনীয় সংজ্ঞা দেখা যাক।</P>

    <p><b>ফাংশনের ডোমেনঃ</b> ফাংশনে চলকের মান আমরা যা কিছু বসাতে পারি সেগুলো নিয়েই ফাংশনে ডোমেন।
    যেমন দেখঃ \(g(x)= \frac{2}{5x-1}\) এখানে যদি আমরা \(x\) এর মান বসাই \(\frac{1}{5}\), কিন্তু ভগ্নাংশের হর \(0\) হয়ে যায়, ফলে এটা অসঙ্গায়িত হয়ে যায়, যার মানে হল ফাংশনে কোন মান পাওয়া যাচ্ছে না। কাজেই আমরা এখানে \(x = 0\) বসাতে পারবো না। কিন্তু \(x\) এর মান যদি আমরা \(\frac{1}{5}\) ছাড়া অন্য যেকোন কিছু বসাই না কেন, কোন সমস্যা নেই। সবক্ষেত্রেই \(\frac{2}{5x-1}\) এর কোন না কোন বাস্তব মান পাওয়া যাবে। এখান থেকে বলা যায়, \(g\) এর ডোমেনে \(\frac{1}{5}\) ছাড়া আর সব বাস্তব সংখ্যাই আছে। এইজন্য \(g\) এর ডোমেন \(\mathbb{R} \\ \{\frac{1}{5}\}\). </p>

    <p><b>ফাংশনের রেঞ্জঃ</b> চলকের যেকোন মান বসিয়ে ফাংশনের মান যা যা হতে পারে সেগুলো নিয়েই ফাংশনের রেঞ্জ আর যেকোন একটা সেটের একটা উপসেট যদি এই রেঞ্জ হয় তাহলে সেই সেটকে ফাংশনের একটি কো-ডোমেন বলে।
    যেমনঃ ধরা যাক, \(f(x) = 2x-1\), এখানে \(x\) এর মান ইচ্ছামত বসিয়ে আমরা \(f(x)\) এর মান যেকোন কিছুই বানাতে পারি। এইজন্য \(f\) এর ডোমেন \(\mathbb{R}\). কিন্তু \(g(x) = \frac{x+2}{x-2)}\) এর ডোমেন \(\mathbb{R}\\ \{2\}\). </p>

    <p>কোন ফাংশনের ডোমেন আর কো-ডোমেন এইভাবে প্রকাশ করা হয়ঃ \(f(x):A \to B\), যেটার মানে হল \(f\) এর ডোমেন \(A\) আর কো-ডোমেন \(B\). \(g(x) = \frac{x+2}{x-2} \) এর ক্ষেত্রে, \(f:\mathbb{R}\ \{2\} \to \mathbb{R}\\ \{1\}\).</p>

     <p><b>Injectice (ইনজেকটিভ বা এক এক ফাংশন):</b> ইনজেকটিভ ফাংশন হল এমন ফাংশন যেটাতে চলকের ভিন্ন ভিন্ন মান বসালে ফাংশনের মান ও ভিন্ন ভিন্ন হয়। অর্থাৎ, চলকের দুইটা আলাদা মান বসায়ে ফাংশনের মান কখনও একই পাওয়া যাবে না। যার মানে হলঃ \(f(x_1 ) = f(x_2)\) হলে অবশ্যই \(x_1 = x_2\) হবে। </p>

    <p>যেমনঃ \(f(x) = 2x+1\) হলে, \(x\) এর আলাদা আলাদা মানের জন্য  \(f(x)\) এর মান সবসময়ই ভিন্ন ভিন্ন হবে। তাই এটি Injective ফাংশন। কিন্তু \(f(x) = (x-1)^2 + 2\) হলে, \(x\) এর মান \(0\) আর \(2\) বসালে দুই ক্ষেত্রেই \(f(x)\) এর মান \(3\) হয়। এজন্য \(f\), Injective  না। </p>

    <p><b>Surjective (সারজেকটিভ ) ফাংশন: </b> আলোচ্য ফাংশনের কো-ডোমেন ধরা যাক \(B\). এখন আমরা যদি চলকের কোন না কোন মান বসায়ে ফাংশনটার মান \(B\) সেটের সবগুলো উপদান বানাতে পারি, তাহলে ফাংশনটাকে আমরা Surjective  বলবো। যেমন দেখঃ \(f:\{0,1,3\} \to \{2,3,5\}\) হলে আর \(f(x) = x + 2\) হলে, \(f\) একটা Surjective ফাংশন, কারন \(x\) এর মান \(0,1,3\) বসালে f(x) এর মান হয় \(2,3,5\) অর্থাৎ রেঞ্জের সবগুলো মানই আমরা পাচ্ছি। এইজন্য \(f\) একটা Surjective ফাংশন। </p>

    <p><b>Bijective (বাইজেকটিভ)ফাংশনঃ</b> কোন ফাংশন একই সাথে Injective আর Surjective হলে তাকে Bijective  ফাংশন বলে। </p>

    <p>আরেকটা ব্যাপার লক্ষ্য কর, আমরা এতক্ষন যেগুলো ফাংশনের উদাহরন দেখেছি সবগুলোই ছিল একটা চলকের ফাংশন। ফাংশন কিন্তু যেকোন সংখ্যক চলকেরই হতে পারে। যেমনঃ \(h(x,y,x,w) = 2x+3y-5z+3w\) হল চার চলকের একটা ফাংশন। চলকগুলো হল \(x,y,z,w\).</p>

    <p>ফাংশনাল ইকুয়েশন</p>

    <p>ফাংশনাল ইকুয়েশন হল এমন এমন সমীকরণ যার সমাধান হল এক বা একাধিক ফাংশন। অর্থাৎ কিছু প্রদত্ত শর্ত মেনে চলে এমন ফাংশনগুলো বের করার সমস্যাই হল ফাংশনাল ইকুয়েশন। এই ধরনের সমীকরণ সমাধান করার একটি উপায় হল চলকগুলোর বিভিন্ন মান বসিয়ে ফাংশনটার বিভিন্ন বৈশিষ্ট্য বের করা। আবার চলকের কিছু মানের জন্য যদি ফাংশনটার মান বের করা যায়, তাহলে ফাংশনটা (বা ফাংশনগুলো ) কি হতে পারে তার একটা ধারণা পাওয়া যায়। তারপর আরোহ পদ্ধতি বা অসমতা ব্যাবহার করে সেটিই যে সমাধান সেটা দেখানো যেতে পারে। ফাংশনাল ইকুয়েশন সমাধান করার সময় কিছু সাধারণ পদ্ধতি আগে ব্যাবহার করে দেখা যেতে পারে। </P>

    <p> <ul>
        <li> ফাংশনটা Injective, Surjective এবং Bijective  কিনা তা পরিক্ষা করে দেখা এবং সেরকম হলে এই বৈশিষ্ট্যগুলো  ব্যবহার করা। যেমন, \(f\) যদি Bijective হয় এবং \(f(g(x)) = f(h(x))\) হলেই \(g(x) = h(x)\) হবে। আবার, \(f\) এর কো-ডোমেনে \(0\) থাকলে এবং Surjective হলে বলা যায় এমন একটা \(x\) আছে যেন \(f(x) = 0\) হয়।

        <li> ফাংশনটার ডোমেন পূর্ণসংখ্যা বা মুলদ সংখ্যার কোন সেট হলে আরোহ পদ্ধতিতে ফাংশনটার কোন বৈশিষ্ট্য প্রমাণ করা যাবে।

        <li> আগে \(f(0), f(1)\) ইত্যাদি মানগুলো বের করা যায় কিনা দেখা যেতে পারে।

        <li> ফাংশনে \(x = 0, \pm 1\) ইত্যাদি মান বসিয়ে কোন সরল রূপ পাওয়া যায় কিনা দেখা যেতে পারে।

        <li> \(f(n+1)\) আর \(f(n)\) এর মাঝে কোন সম্পর্ক বের করা যায় কিনা দেখতে হবে।

        <li> চলকের বিশেষ কিছু মান বসিয়ে এক বা একাধিক পদকে 0 বানিয়ে বাদ দিয়ে দেওয়া যায় কিনা দেখা যেতে পারে।

        <li> \(f(x+g(y))\) আকারের পদ থাকলে \(x = -g(y)\) বসিয়ে সরল আকারে আনা যায়।

        <li>সবশেষে প্রাপ্ত ফাংশনগুলোর সবগুলো প্রদত্ত শর্ত পূরণ করে কি না মিলিয়ে দেখতে হবে। </ul>


    <p>কয়েকটা নোটেশন <br>
        \(\mathbb{N} = \{1,2,3,\dots\}\), সকল ধনাত্মক পূর্ণসংখ্যার সেট <br>
       \(\mathbb{N_0} = \{0,1,2,3,\dots \}, 0\) সহ সকল ধনাত্মক পূর্ণসংখ্যার সেট<br>
       \(\mathbb{Z} = \{\dots,-2,-1,0,1,2,\dots \}\), সকল পূর্ণসংখ্যার সেট <br>
      \(\mathbb{Z_0} = \{\dots, -2,-1,1,2,\dots \}, 0\) বাদে সকল পূর্ণসংখ্যার সেট। </b>
      \(\mathbb{Q}\), সকল মূলদ সংখ্যার সেট <br>
      \(\mathbb{R}\), সকল বাস্তব সংখ্যার সেট <br>
       \(\mathbb{R^+}\), সকল ধনাত্মক বাস্তব সংখ্যার সেট <br>
       \(\mathbb{R^-}\), সকল ঋণাত্মক বাস্তব সংখ্যার সেট </p>

    <p>এখন আমরা কিছু সমস্যা দেখি। </p>

    <p><b>সমস্যা 1:</b> এমন সকল ফাংশন \(f:Z \to Q\) বের কর যেন \(f(1) = 2\) এবং সকল \(x,y \in \mathbb{R}\) এর জন্য \(f(xy) = f(x)f(y)-f(x+y)+1\) হয়। </p>

    <p><b>সমাধানঃ</b> \(f(xy) = f(x)f(y)-f(x+y) + 1\) এ \(y=1\) বসালে পাওয়া যায়, \(f(x)=f(x)f(1)-f(x+1)+1\)
    বা, \(f(x+1)=f(x)+1\). তাহলে দেখা যাচ্ছে, যেকোন \(x \in Z\) এর জন্যই \(f(x+1)\) এর মান, \(f(x)\) এর চেয়ে \(1\) বড় হবে। আর যেহেতু \(f(1)=1\). তাই \(f(x) = x+1\). প্রদত্ত সমীকরণে \(f(x) = x+1\) বসিয়ে দেখতে পাই, বামপক্ষ \(= xy + 1\) এবং ডানপক্ষ \(=(x+1)(y+1)-(x+y+1)+1=xy+x+y+1-x-y-1+1=xy+1\). অর্থাৎ আমাদের সমাধান ঠিক আছে। </p>

    <p><b>সমস্যা2:</b> এমন সকল ফাংশন \(f:\mathbb{Q} \to \mathbb{Q}\) বের কর যেন \(f(1)=2\) এবং \(f(xy)=f(x)f(y)-f(x+y)+1\) হয়। </p>

    <p><b>সমাধানঃ</b> আগের সমস্যায় আমরা দেখেছি, এই ফাংশনের জন্য, \(n\) পূর্ণসংখ্যা হলে \(f(n) = n+1\). আবার, প্রদত্ত ফাংশনে \(y=1\) বসিয়ে দেখা যায়, যেকোন \(y \in \mathbb{Q}\) এর জন্য \(f(x+1)=f(x)+1\). ফলে, \(f(m + \frac{1}{n})\) \(= 1 + f(m-1 + \frac{a}{n})\) \(= 2 + f(m-2 + \frac{1}{n}) \dots\) \(= m+ f(\frac{1}{n})\). <br>
    এখন আমরা আগে \(f(\frac{1}{n})\) বের করি। \(n\) একটা পূর্ণসংখ্যা ধরা যাক। প্রদত্ত সমীকরণে \(x=n,\ y=\frac{1}{n}\) নিয়ে পাই, \(f(n \ \frac{1}{n}) = f(n)f(\frac{1}{n}) - f(n + \frac{1}{n}) + 1\),<br>
    বা, \(2 = (n+1).f(\frac{1}{n})-f(n + \frac{1}{n}) + 1\) <br>
    বা, \(f(n + \frac{1}{n}) = (n+1)f(\frac{1}{n}) - 1\) <br>
    বা, \(n + f(\frac{1}{n}) = (n+1)f(\frac{1}{n}) - 1\) <br>
    বা, \(n+1 = nf(\frac{1}{n})\) <br>
    বা, \(f(\frac{1}{n}) = n + \frac{1}{n}\) <br>
    বা, \(f(\frac{1}{n}) = 1 + \frac{1}{n}\). <br>
    এখন \(\frac{m}{n}\) যেকোন একটা মূলোদ সংখ্যা হলে, যেখানে, \(m, n \in \mathbb{Z}, n \not = 0\); \(f(\frac{m}{n})\) \(= f(m \ \frac{1}{n})\) \(= f(m)f(\frac{1}{n}) - f(m + \frac{1}{n}) + 1\) \( = (m+1)(1 + \frac{1}{n})-m-f(\frac{1}{n}) + 1\) \(= m+1+ \frac{m}{n} + \frac{1}{n} -m-1-\frac{1}{n}+1\)
    \(= \frac{m}{n} + 1\). সুতরাং দেখা যাচ্ছে, সকল মুলদ সংখ্যা \(x\) এর জন্যই \(f(x) = 1+x\) \(\square \)</p>

    <p><b>সমস্যা 3.</b> সকল Injective ফাংশন \(f:\mathbb{N} \to \mathbb{R}\) বের কর যেন নিচের দুইটি শর্তই সত্য হয়। <br>
      শর্ত 1. সকল \(m,n \in \mathbb{N}\) এর জন্য \(f(f(m)+f(n))=f(f(m))+f(n)\) <br>
      শর্ত 2. \(f(1)=2,\ f(2)=4\). </p>

    <p><b>সমাধানের Hint:</b> আরোহ পদ্ধতি ব্যাবহার কর এবং জোড় এবং বিজোড় সংখ্যার জন্য আলাদা করে ফাংশনের মান বের কর। \(\square \) </p>

    <p><b>সমস্যা 4.</b> সকল ফাংশন \(f:\mathbb{N} \to \mathbb{N}\) বের কর যেন সকল \(m,n \in \mathbb{N}\) এর জন্য \(m^2+f(n)| m(fm)+n\) হয়। (বাংলাদেশ গনিত দল নির্বাচন পরিক্ষা ২০১৪) </p>

    <p><b>সমাধানঃ</b> \(m=n=2\) নিলে, যেকোন \(m \in \mathbb{N}\) এর জন্য, \(4+f(2)| 2f(m)+2 = 2(f(2)+4)-6\). অর্থাৎ, \(4+f(2)| 6\). ফলে, \(4+f(2) \leq 6\). \(f(2)\) যেহেতু ধনাত্মক, অতএব, \(f(2)=2\). এখন,  \(m=2, n=1\) নিলে, \(4+f(1)| 2f(2)+1=5\). অতএব, \(f(1)=1\). এখন, \(n=1\) নিলে, যেকোন \(m^2+f(1)| mf(m)+1\), অতএব, \(m^2+1 \leq mf(m)+1\), ফলে, \(m^2 \leq mf(m)\), অর্থাৎ, \(m \leq f(m)\). আবার, \(m=1, \ n=m\) নিলে, \(1+f(m)| 1f(1) + m = 1+m\). ফলে, \(1 + f(m) \leq 1+m\), বা, \(f(m) \leq m\). উপরের দুইটি অসমতা থেকে স্পষ্ট যে, যেকোন \(n \in \mathbb{N}\) এর জন্য, \(f(n) = n\). \(\square \)</p>

    <p><b>সমস্যা 5.</b> সকল ফাংশন \(f:\mathbb{N} \to \mathbb{N}\) বের কর যেন সকল \(x,y \in \mathbb{N}\) এর জন্য, \(f^3 (1) + f^3 (2) + \dots +f^3 (n) = (\frac{f(n)f(n+1)}{2})^2\)  এবং \(f(1) = 1\) হয়। </p>

  </body>
</html>
