<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <style>
      body {
        line-height: 200%;
        max-width: 960px;
        margin: 0 auto;
      }
    </style>
    <title></title>
  </head>
  <body>

  <h1>অধ্যায় ৭ </h1>
  <h2>বিভাজ্যতার পরিক্ষা</h2>

    <p>এই অধ্যায়ে আমরা কিছু বিশেষ সংখ্যার বিভাজ্যতার শর্ত দেখবো।</p>

    <p>দশ ভিত্তিক যেকোনো সংখ্যার অঙ্কগুলো ডান থেকে যথাক্রমে \(a_0, a_1, a_2, \dots, a_k\) হলে এটিকে \( n = \overline {a_ka_{k-1} \dots a_1a_0} \) লেখা হবে। দশ ভিত্তিক সংখ্যা পদ্ধতির ক্ষেত্রে, এটিকে লেখা যায়, \( n = \overline{a_k a_{k-1} \dots a_1 a_0} = 10^k a_k + 10^{k-1} a_{k-1}  +d \dots + 10a_1 + a_0\).</p>

    <p><b>উপপাদ্য(7.1):</b> কোন সংখ্যা \(2^k\) দ্বারা বিভাজ্য হবে যদি ও কেবল যদি এর শেষ \(k\) টি অংক দ্বারা গঠিত সংখ্যাটি \(2^k\) দ্বারা বিভাজ্য হয়। </p>

    <p><b>প্রমাণঃ</b> \( n = \overline {a_k a_{k-1} a_1 a_0 } = 10^k a_k + 10^{k-1} a_{k-1}  + \dots + 10a_1 + a_0\). এখানে ডান দিক থেকে প্রথম \(k\) টি পদের পর প্রত্যেকটি পদ \(10^k\) দ্বারা বিভাজ্য, সুতরাং পদ্গুলোর যোগফল \(2^k\) দ্বারা বিভাজ্য। কাজেই বামপক্ষ \(2^k\) দ্বারা বিভাজ্য হবে যদি ও কেবল যদি ডান দিকের শেষ \(k\) টি পদের যোগফল \(2^k\) দ্বারা বিভাজ্য হয়। \(\square \) </p>

    <p><b>উপপাদ্য(7.2):</b> কোন সংখ্যা \(3\) দ্বারা বিভাজ্য হবে যদি ও কেবল যদি এর অংকগুলোর যোগফল \(3\) দ্বারা বিভাজ্য হয়। </p>

    <p><b>প্রমাণঃ</b> যেকোনো \(s\) এর জন্য, \( 10 \equiv 1 \pmod 3\), বা, \( 10^s \equiv 1 \pmod 3\), বা, \( 10^s a_s \equiv a_s \pmod 3\).  সুতরাং, \(s\) এর মান \(0\) হতে \(k\) পর্যন্ত চিন্তা করে সবগুলো অনুসমতা যোগ করে পাই, \( n = 10^k a_k + 10^{k-1} a_{k-1} + \dots + 10 a_1 + a_0 \equiv a_k + a_{k-1} + a_{k-2} + \dots + a_0 \pmod 3\). তাহলে দেখা যাচ্ছে কোন সংখ্যাকে \(3\) দ্বারা ভাগ করলে যে ভাগশেষ হবে, সংখ্যাটির অঙ্কগুলোর যোগফলকে \(3\) দ্বারা ভাগ করলেও একই ভাগশেষ হবে। ফলে যদি সংখ্যাকে \(3\) দ্বারা ভাগ করে ভাগশেষ \(0\) হতে হয়, তাহলে এর অংকগুলোর  যোগফলকে \(3\) দিয়ে ভাগ করলেও ভাগশেষ \(0\) হতে হবে। অর্থাৎ অংকগুলোর যোগফলকে \(3\) দ্বারা বিভাজ্য হতে হবে।\(\square \) </p>

    <p><b>উপপাদ্য(7.3):</b> একটি সংখ্যা \(9\) দ্বারা বিভাজ্য হবে যদি এর অংকগুলোর যোগফল \(9\) দ্বারা বিভাজ্য হয়। </p>

    <p><b>প্রমাণঃ</b> লক্ষ্য কর, \( 10 \equiv 1 \pmod 9\),ফলে \( n = 10^k a_k + 10^{k-1} a_{k-1}  + \dots + 10 a_1 + a_0 \equiv a_k + a_{k-1} + a_{k-2} + \dots + a_0 \pmod 9\), এবং ঠিক আগের উপপাদ্যের মত করে প্রমাণ সম্পূর্ণ কর। \(\square \)</p>

    <p><b>অনুসিদ্ধান্তঃ</b> \(n\) এর অঙ্কগুলোর যোগফলকে \( S(n)\) দ্বারা চিহ্নিত করলে, \( S(n) \equiv n \pmod 9)\) হবে। </p>

    <p><b>উপপাদ্য(7.4):</b> কোন সংখ্যা \(5\) দ্বারা বিভাজ্য হবে যদি সংখ্যাটির শেষ অংক \(0\) বা \(5\) হয়। </p>

    <p><b>উপপাদ্য(7.5):</b> \(n = \overline{a_k a_{k-1} \dots a_1 a_0} = 10^k a_k + 10^{k-1} a_{k-1}  + \dots + 10 a_1 + a_0\) সংখ্যাটি \(11\) দ্বারা বিভাজ্য হবে যদি \(a_0 - a_1 + a_2 - a_3 + \dots + (-1)^k a_k,\ 11\) দ্বারা বিভাজ্য হয়। </p>

    <p><b>প্রমাণঃ</b> লক্ষ্য কর, \( 10 \equiv -1 \pmod {11}\). \(s\) জোড় হলে, \( 10^s a_s \equiv a_s \pmod {11}\) এবং \(s\) বিজোড় হলে, \(10^s a_s \equiv -a_s \pmod {11}\). এবার আগের উপপাদ্যের মত সবগুলো অনুসমতা যোগ করে পাই, \( n = 10^k a_k + 10^{k-1} a_{k-1} + \dots + 10 a_1 + a_0\) \(= (-1)^k a_k + (-1)^{k-1} a_{k-1} + (-1)^{k-2} a_{k-2} + \dots - a_1 + a_0) \pmod {11}\). সুতরাং \( n, \ 11\) দ্বারা বিভাজ্য হবে যদি \(a_0 - a_1 + a_2 - a_3 + \dots + (-1)^k a_k, 11\) দ্বারা বিভাজ্য হয়।\(\square \) </p>

    <p>যেমনঃ \(15994\) সংখ্যার ক্ষেত্রে, \(4-9+9-5+1 = 0\) , যা \(11\) দ্বারা বিভাজ্য। ফলে \(15994\) সংখ্যাটি \(11\) দ্বারা বিভাজ্য। আবার, \(1475\) সংখ্যার ক্ষেত্রে, \(5 - 7 + 4 - 1 = 1\) ,যা \(11\) দ্বারা বিভাজ্য নয়। সুতরাং \(1475,\ 11\) দ্বারা বিভাজ্য নয়।</p>

    <p> অনেক ক্ষেত্রে কোন সংখ্যা মৌলিক না যৌগিক তা বের করে দেখতে হতে পারে। যেকোনো যৌগিক সংখ্যার সর্বনিম্ন মৌলিক উৎপাদক এর  বর্গমূলের সমান বা তার চেয়ে ছোট হয়। কারণ যৌগিক সংখ্যার কমপক্ষে দুটি মৌলিক উৎপাদক থাকে। এখন যৌগিক সংখ্যা \(n\) এর দুটি মৌলিক উৎপাদক যদি \(\sqrt{n}\) এর চেয়ে বড় হয়, তাহলে এদের গুণফল \(n\) এর চেয়ে বড় হবে, যা সম্ভব নয়। তাহলে যদি কোন সংখ্যা \(n\) কে আমরা বিভিন্ন সংখ্যা দ্বারা ভাগ করে \(n\) মৌলিক না যৌগিক তা বের করতে চাই, তাহলে \(n\) কে \(\sqrt{n}\) পর্যন্ত মৌলিক সংখ্যা গুলো দ্বারা ভাগ করে দেখাই যথেষ্ট। </p>

    <p>ধরা যাক, \(397\) সংখ্যাটি মৌলিক কিনা তা আমরা বের করতে চাই। যেহেতু \( 20^2 = 400\), \(397\) এর মান \(20\) এর চেয়ে ছোট হবে। ফলে \(1\) হতে \(19\) পর্যন্ত মৌলিক সংখ্যা গুলো দ্বারা ভাগ করে দেখাই যথেষ্ট। \(1\) হতে \(19\) পর্যন্ত মৌলিক সংখ্যাগুলো হল \(2, 3, 5, 7, 11, 13, 17, 19\). \(397\) সংখ্যাটি বিজোড়, আবার শেষ অঙ্কটি \(5\) নয়, সুতরাং \(2,\ 5\) এর কোনটি দ্বারা বিভাজ্য নয়। \( 3 + 9 + 7 = 19\), যা \(3\) দ্বারা বিভাজ্য নয়। ফলে মুল সংখ্যাটি \(3\) দ্বারা বিভাজ্য নয়। সরাসরি \(7, 11, 13, 17, 19\) দ্বারা ভাগ করে দেখা যায়, এদের কোনটিই \(397\) কে ভাগ করে না। সুতরাং \(397\) মৌলিক সংখ্যা। </p>

  </body>
</html>
