<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <style>
      body {
        line-height: 200%;
        max-width: 960px;
        margin: 0 auto;
      }
    </style>
    <title></title>
  </head>
  <body>
        <h1>যোগ আর গুণের ধারণা</h1>

        <p>একেবারে সহজ কয়েকটা উদাহরণ দিয়ে শুরু করা যাক।</P>

        <p>ধরা যাক, তোমার কাছে \(7\) রঙের পেন্সিল আছে, যেকোনো একটা রঙ দিয়ে ছবি আঁকতে চাইলে সেটা কতভাবে করা যাবে? অবশ্যই \(7\) ভাবে। এখন ধর \(2\) রঙের কলম আর \(7\) রঙের পেন্সিল আছে। পেন্সিল বা কলম কোন একটা দিয়ে তুমি কত ভাবে রঙ করতে পারবে? \(9\) ভাবে। </p>

        <p>আবার মনে কর তোমার বাসা থেকে স্কুলে যাওয়া যায় \(3\) টা রাস্তা দিয়ে, আর বাসা থেকে মাঠে যাওয়া যায় \(2\) টা রাস্তা দিয়ে। তুমি বাসা থেকে বের হলে, এখন তুমি স্কুল বা মাঠের কোন একটা জায়গায় যেতে চাও। তাহলে তুমি কতভাবে রাস্তা বাছাই করতে পারবে? \(2 + 3 = 5\) ভাবে। </p>

        <p>আরেক ধরণের উদাহরণ দেখা যাক। </p>

        <p>উদাহরনঃ দোকানে \(4\) টা ইংরেজি আর \(3\) টা বাংলা গল্পের বই তোমার পছন্দ হল, কিন্তু তুমি একটা বাংলা এবং একটা ইংরেজি বই কিনতে চাও। তাহলে তুমি কতভাবে দুইটা বই কিনতে পারবে? </p>

        <p>সমাধানঃ ধরা যাক, বাংলা বইগুলো হল \(a,b\) আর \(c\). আর ইংরেজি বইগুলো \(w,x,y,z\). তাহলে একটা বাংলা আর একটা ইংরেজি বই নিয়ে এইভাবে লেখা যায়ঃ <br>
        \(a\) বাংলা বইটা নিলে উপায়গুলোঃ \(ax,\ ay,\ az,\ aw\) <br>
        \(b\) বাংলা বইটা নিলে উপায়গুলোঃ \(bx,\ by,\ bz,\ bw\) <br>
        \(c\) বাংলা বইটা নিলে উপায়গুলোঃ \(cx,\ cy,\ cz,\ cw\) <br>
        তাহলে দেখা যাচ্ছে মোট \(3 \times 4 = 12\) ভাবে নেওয়া যাচ্ছে। \(\square \) </p>

        <p>সমস্যাঃ তোমার বাসা থেকে স্কুলে যাওয়ার \(4\) টা রাস্তা আছে। আবার স্কুল থেকে মাঠে যাওয়ার \(5\) টা রাস্তা আছে। তাহলে তুমি বাসা থেকে স্কুলে যেয়ে সেখান থেকে মাঠে মোট কতভাবে যেতে পারবে? </p>

        <p>সমাধানঃ আগের উদাহরণের মতই মোট \(4 \times 5 = 20\) ভাবে যাওয়া যাবে। </p>

        <p>উপরের উদাহরণগুলো থেকে দুইটা সাধারণ কিন্তু গণনার সবচেয়ে মৌলিক দুইটা নীতি বোঝা যাবে। </p>

        <p><b>যোগের নীতিঃ</b> ধরা যাক, \(A\) সেটে \(a\) সংখ্যক আর \(B\) সেটে \(b\) সংখ্যক উপাদান আছে, যেখানে \(A\) আর \(B\) সেটের উপাদানগুলো ভিন্ন ভিন্ন। অন্য কথায়, \(A \cap B = \{\}\). তাহলে \(A\) আর \(B\) দুইটা সেটে থেকে কোন একটা উপাদান বেছে নেওয়া যায় \((a+b)\) ভাবে। </p>

        <p><b>গুণের নীতিঃ</b> ধরা যাক, \(A\) সেটে \(a\) সংখ্যক আর \(B\) সেটে \(b\) সংখ্যক উপাদান আছে, যেখানে \(A\) আর \(B\) সেটের উপাদানগুলো ভিন্ন ভিন্ন। অন্য কথায়, \(A \cap B = \{\}\). তাহলে \(A\) সেট থেকে একটি ও \(B\) সেট থেকে একটি- মোট দুইটি উপাদান বেছে নেওয়া যায় \(ab\) ভাবে। অন্যভাবে, একটা কাজ \(a\) ভাবে এবং আরেকটা কাজ \(b\) ভাবে করা গেলে কাজ দুইটি একত্রে করা যায় \(ab\) ভাবে। </p>

        <p>একটু চিন্তা করলেই দেখা যাবে যে আসলে এই নীতি দুইটা যে শুধু \(2\) টা সেটের জন্য সত্য তা নয়, যেকোনো সংখ্যক সেটের জন্যই এগুলো সত্য হবে। এখন এই নীতিগুলো ব্যবহার করে কয়েকটা জিনিস আমরা বের করে ফেলি।

        <p> সমস্যাঃ একটা বেঞ্চে \(6\) জন বন্ধু পাশাপাশি বসতে চাও। কতভাবে বসতে পারবে?\)

        <p>সমাধানঃ ধরা যাক, বেঞ্চের \(6\) টা পাশাপাশি ভাগ আছে। প্রথম ভাগে \(6\) জনের যেকোন একজন বসতে পারো। তাহলে পরের যায়গাতে বাকি \(5\)  জনের কোন একজন মোট \(5\) ভাবে বসতে পারবে। এইভাবে তার পরের জায়গাতে \(4\) ভাবে, তার পরেরটা \(3\) ভাবে, তারপরে \(2\) ভাবে এবং সবশেষের জায়গাতে \(1\) ভাবে বসতে পারবে। তাহলে মোট বসার উপায় হল \( 1 \times 2 \times 3 \times 4 \times 5 \times 6 = 720\) ভাবে।</p>

        <p>এখন ধর আগের উদাহরণে \(6\) জনের বদলে \(n\) জন মানুষ আছে। তাহলে কত ভাবে বসা যাবে? আগের মতই প্রথম জায়গাতে  \(n\) ভাবে, তার পরের জায়গাতে \((n-1)\) ভাবে, তারপরের জায়গাতে \((n-2)\) ভাবে, \(\dots\) এইভাবে শেষ জায়গাতে \(1\) ভাবে বসতে পারে। সুতরাং মোট বসতে পারে \(n \times (n-1) \times (n-2) \times \dots \times 2 \times 1\) ভাবে। </p>

        <p><b>সংজ্ঞাঃ</b> \(1\) থেকে শুরু করে \(n\) পর্যন্ত সবগুলো স্বাভাবিক সংখ্যার গুণফলকে \(n!\) লেখা হয়। অর্থাৎ,
        \( n! = 1 \times 2 \times 3 \times \dots \times n\). যেমনঃ \(1! = 1\), \(2! = 1 \times 2 = 2\), \(5! = 1\times 2 \times 3 \times 4 \times 5 = 120\). </p>

        <p>এখন দেখ আগের উদাহরণে, \(n\) জন মানুষ পাশাপাশি \(n!\) ভাবে বাসতে পারবে, কারন, \(n \times (n-1) \times (n-2) \times \dots \times 2 \times 1 = n!\). </p>

        <p>আগের উদাহরণটা অন্যভাবে বললে, \(n\) সংখ্যক ভিন্ন ভিন্ন জিনিসকে একটা সারিতে \(n!\) ভাবে সাজানো যায়। এখন আমরা একটু ভিন্ন একটা সমস্যা দেখি। </p>

        <p>সমস্যাঃ ধরা যাক, তোমার কাছে \(10\) টা ভিন্ন ভিন্ন রঙের ঠিক \(10\) টা ব্লক আছে, তুমি এদের থেকে ঠিক \(4\) টা ব্লক নিয়ে একটা সারিতে সাজাতে চাও। কতভাবে করা যাবে? </p>

        <p>সমাধানঃ  আমরা সারির প্রথম যায়গাটা পূরণ করতে পারি আমাদের \(10\) টা রঙের যেকোন একটা দিয়ে, অর্থাৎ \(10\) ভাবে। এরপর প্রথমটা পূরণ করার পর দ্বিতীয় যায়গাটা পূরণ করা যায় বাকি \(9\) টা রঙের যেকোন একটা দিয়ে, অর্থাৎ \(9\) ভাবে। ঠিক একইভাবে দেখা যাচ্ছে, তৃতীয় জায়গাটা \(8\) ভাবে আর চতুর্থ জায়গাটা \(7\) ভাবে পূরণ করা যায়। তাহলে দেখা যাচ্ছে মোট উপায় সংখ্যা হল \(= 10 \times 9 \times 8 \times 7 = 5040\). </p>

        <p>আগের উদাহরণে যদি আমাদের \(n\) টা ভিন্ন ভিন্ন জিনিস থেকে \(r\) টা জিনিস নিয়ে পূরণ করতে হত তাহলে, মোট উপায় হতো \(n \times (n-1) \times (n-2) \times \dots \times (n - r + 1)\) ভাবে। এখন আমরা এই রাশিটাকে একটু অন্যভাবে লিখি আমাদের হিসাব-নিকাশের  সময় সুবিধার জন্য। <br>
        \(n(n-1)(n-2)\dots (n-r+1)\)
        \(=\cfrac{(n(n-1)\dots (n-r+1)(n-r)(n-r-1)\dots 2 \ . \ 1)}{(n-r)(n-r-1)\dots 2 \times 1}\)
        \(= \cfrac{n!}{(n-r)!}\). অর্থাৎ \(n\) সংখ্যক ভিন্ন ভিন্ন জিনিস থেকে প্রতিবারে \(r\) টা জিনিস নিয়ে সারিতে সাজানো যায় মোট \(\frac{n!}{r!}\)  ভাবে। আমাদের এই সংখ্যাটা বারবার ব্যবহার করতে হবে। তাই সুবিধার জন্য আমরা এখন থেকে লিখবো \(P(n,r)\). অর্থাৎ \(P(n,r) = \frac{n!}{(n-r)!}\). </p>

        <p>শেষ আরেক ধরনের গণনা দেখেই আমরা উদাহরণ আর সমস্যায় চলে যাবো।</p>

        <p>সমস্যাঃ  আগের উদাহরণের মতই তোমার কাছে \(10\) টা ভিন্ন রঙের \(10\) টা ব্লক আছে। তুমি যেকোন চারটা বেছে নিতে চাও। (কিন্তু আগের মত আর সারিতে সাজাবে না। ফলে আগের বার (লাল, নীল, হলুদ , কমলা) আর (লাল, কমলা, হলুদ, নীল) আলদা বলে গণ্য হলেও এইবার এই দুইটার যেকোন একটাই নেয়া যাবে)। কতভাবে তা করা যাবে? </p>

        <p>সমাধানঃ আগের উদাহরণের সমাধান ব্যবহার করব আমরা। \(P(n,r)\) ভাবে যেকোন চারটা নিয়ে তাদের সারিতে সাজানো যায়। এখন \(4\) টা জিনিসকে নিজেদের ভিতর \(4!\) ভাবে সাজানো যায়। অর্থাৎ প্রত্যেক বার \(4\) টা নিয়ে আমরা তাদের \(4!\) বার গুণেছি। কাজেই \(P(n,r)\) কে \(4!\) দিয়ে ভাগ করলেই আমাদের সমস্যার সমাধান পেয়ে যাবো।
        তাহলে দেখা যাচ্ছে, যদি আমাদের \(n\) সংখ্যক ভিন্ন ভিন্ন  জিনিস থেকে \(r\) সংখ্যক জিনিস বেছে নেয়া যায় \(\frac{P(n,r)}{r!}\) ভাবে। ই সংখ্যাটাকে আমরা \(C(n,r)\) বা \(\binom{n}{r}\) দিয়ে চিহ্নিত করবো। অর্থাৎ, \(C(n,r) = \binom{n}{r} = \frac{P(n,r)}{r!} = \cfrac{n!}{r!((n-r)!}\). বইয়ের বাকি অংশে সরাসরি \(C(n,r)\) এবং \(P(n,r)\) নোটেশনদুটো সরাসরি ব্যবহার করা হবে। </p>



        <h4>\(\binom{n}{r}\) এর কিছু বৈশিষ্ট্য </h4>

        <p>মনে রাখবে \(\binom{n}{r}\) হল \(n\) টা ভিন্ন ভিন্ন জিনিস থেকে \(r\) জিনিস বেছে নেওয়ার সংখ্যা। আর যেকোন \(\binom{m}{n}\) ক্ষেত্রে \(m \geq n\) ধরা হয়েছে। </p>

        <p><b>P1.</b> \(\binom{n}{r} = \binom{n}{n-r}\).

        <p>প্রমাণঃ \(n\) সংখ্যক  জিনিস থেকে \(r\) সংখ্যক জিনিস বেছে নিলে ঠিক \((n-r)\) সংখ্যক জিনিস বাদ দিতে হয়, অর্থাৎ যতভাবে \(r\) সংখ্যক জিনিস বেছে নেওয়া যায়, ঠিক ততভাবেই \((n-r)\) সংখ্যক জিনিস বেছে নেওয়া যায়। \(\square \)</p>

        <p><b>P2.</b> \(\binom{n}{r} = \binom{n-1}{r} + \binom{n-1}{r-1}\)</p>

        <p>প্রমাণঃ ধরা যাক, \(n\) জন ছাত্রের একটা ক্লাস থেকে আমরা \(r\) জনকে বাছাই করবো। এটা করা যায় \(\binom{n}{r}\) ভাবে। আবার একই কাজ আমরা একটু অন্যভাবে করি। ধরা যাক, এই \(n\) জন ছাত্রের একজন হল \A\). আমরা যেভাবেই দল বানাই না কেন, হয় তাতে \(A\) থাকবে আর নয়তো থাকবে না। এই দুই প্রকার দলের মোট সংখ্যাই হবে \(\binom{n}{r}\). এখন দেখা যাক কতগুলো দলে \(A\) অবশ্যই থাকবে। \(A\) কে দলে নিয়ে নিলে দলের বাকি \((r-1)\) জনকে বাছাই করা যাবে \(\binom{n-1}{r-1}\) ভাবে। আর যেসব দলে \(A\) এই সেরকম দল গঠন করার জন্য \(A\) বাদে বাকি \((n-1)\) থেকেই \(r\) জনকে বাছাই করতে হবে, যেটা করা যাবে \(\binom{n-1}{r}\) ভাবে। সুতরাং আমরা পাচ্ছি, \(\binom{n}{r} = \binom{n-1}{r} + \binom{n-1}{r-1}\). \(\square \)</p>

        <p><b>P3.</b> \(r \binom{n}{r} = n \binom{n-1}{r-1}\) </p>

         <p>প্রমাণঃ মনে করা যাক আমাদেরকে \(n\) জন মানুষ থেকে \(r\) জনকে বেছে নিয়ে দল বানাতে হবে, যেখানে একজন দলপতিও বাছাই করে দিতে হবে।  \(n\) জন থেকে যেকোন \(r\) জন বেছে নেওয়া যায় \(\binom{n}{r}\) ভাবে, আর এই \(r\) জনের মধ্যে একজনকে দলপতি বানানো যায় \(r\) ভাবে। তাহলে দলপতি সহ দল গঠন করা যায় \(r \binom{n}{r}\) ভাবে।
        এখন আরেকভাবে দলগুলো গঠন করা যায়। আমরা দল গঠন করার আগেই দলপতি নির্বাচন করে নেই। \(n\) জন মানুষ থেকে একজন দলপতি বেছে নেওয়া যায় \(n\) ভাবে। আর দলের বাকি \((r-1)\) জনকে বেছে নেওয়া যায় \(\binom{n-1}{r-1}\) ভাবে। তাহলে দল গঠন করা যায় \(n \binom{n-1}{r-1}\). সুতরাং দল গঠনের দুই ধরণ তুলনা করলেই আমাদের প্রমাণ সম্পূর্ণ হয়ে যাচ্ছে। \(\square \)</p>

        <p><b>P4.</b> \(\binom{n}{m} \binom{m}{r} = \binom{n}{r} \binom{n-m}{m-r}\) </p>

        <p>প্রমাণঃ ধরা যাক, \(n\) জন শিক্ষার্থীর মধ্যে থেকে \(m\) জন ক্যাম্পে যাবে, যাদের মধ্যে থেকে \(r\) জন পরবর্তী ক্যাম্পে যাবে। এখন দুইভাবে দল গঠন করে নিজে প্রমাণ সম্পূর্ণ কর। \(\square \) </p>

        <p><b>P5.</b> \(\binom{n}{r} = \binom{n-1}{r} + \binom{n-2}{r-1} + \binom{n-3}{r-2} + \dots + \binom{n-k+1}{k+1} + \binom{n-k+1}{k}\). </p>

        <p>প্রমাণের হিন্টঃ P1 বারবার ব্যবহার করে প্রমাণ কর। \(\square \) </p>

        <p><b>P6.</b> \(\binom{m+n}{r} = \binom{m}{r} \binom{n}{0} + \binom{m}{r-1} \binom{n}{1} + \binom{m}{r-2} \binom{n}{2} \dots + \binom{m}{0} \binom{n}{r}\), যেখানে, \(\binom{n}{r} = 0\), যদি \(r > n\) হয়। </p>

        <p>সমস্যা: দেখাও যে, যেকোন স্বাভাবিক সংখ্যা \(n\) এর জন্য, \((n+1) | \binom{2n}{n}\). </p>

        <p><b>P7.</b> \(\binom{n}{0} < \binom{n}{1} < \binom{n}{2} \dots < \binom{n}{\lfloor \frac{n}{2} \rfloor} \)</p>
        <p>প্রমাণঃ P2 ব্যবহার কর।</p>


        <h3>দ্বিপদী উপপাদ্য </h3>

        <p>এতক্ষণে আমরা দেখেছি শুধুমাত্র গণনা করেই কত সুন্দর সুন্দর সব ফলাফল বের করা যায়। এরকমই আরেকটা চমকপ্রদ উপপাদ্য আমরা এখন দেখবো। </p>

        <p><b>দ্বিপদী উপপাদ্য:</b> \(a,b\) দুইটি যেকোন সংখ্যা আরা \(n\) একটা স্বাভাবিক সংখ্যা হলে, <br>

        \( (a+b)^n = \binom{n}{0}a^n + \binom{n}{1} a^{n-1} b + \binom{n}{2} a^{n-2} b+ \dots + \frac{n}{n-1}ab^{n-1} + \frac{n}{n} b^n\)\) <br>

        যেমনঃ \((a+b)^2\) \(= a^2 + 2ab + b^2\) \(= \binom{2}{0} a^2 + \binom{2}{1}ab + \binom{2}{2} b^2\). <br>
        \((a+b)^3 = a^3 + 3a^2 b + 3ab^2 + b^3 = \binom{3}{0} a^3 + \binom{3}{1} a^2 b + \binom{3}{2}ab^2 + \binom{3}{3} b^3\). </p> dsfasdfsa

        <p>প্রমাণঃ প্রথমে দেখা যাক, \((a+b)^n = (a+b)(a+b) \dots (a+b)\), এইভাবে \(n\) বের গুণ হবে। এই গুণ করতে থাকলে যেকোন পদ হবে \(a^u b^v\) আকারের, কারণ গুণফলে তো \(a\) আর \(b\) ছাড়া কিছু থাকবে না। আরেকটা জিনিস দেখঃ আমরা এই গুণফলের যতগুলো পদ থেকে \(a\) নিয়ে গুণ করবো, বাকিগুলো থেকে \(b\) নিয়ে গুণ করতে হবে। আর এই দুই রকম পদের মোট সংখ্যা \(n\), কারণ মোট পদ তো \(n\) টা । তাহলে, আমরা যতভাবে \(u\) সংখ্যক পদ বেছে নিতে পারবো, ঠিক ততভাবে \(a^u\) পদটি গঠন করতে পারবো। ফলে \(a^u\) এর সহগ হবে এই মোট বেছে নেওয়ার উপায়ের সংখ্যার সমান।  আর n টা পদ থেকে \(k\) টা পদ বেছে নেওয়া যাবে \(\binom{n}{k}\) ভাবে সেটা আমরা আগেই জানি। কাজেই আমাদের উপপাদ্য প্রমাণিত। \(\square \) </p>

        <p>এই উপপাদ্য, \(n\) এর উপরে আরোহ পদ্ধতি আর P2 ব্যবহার করে আরেকভাবে প্রমাণ কর।

        <p>সমস্যাঃ আগের উপপাদ্যে \((a+b)\) এর যায়গায় \((a+b+c)\) থাকলে ব্যাপারটা কেমন হতো?</p>
        <p>সমস্যাঃ প্রমাণ কর যে, \(\binom{n}{0} + \binom{n}{1} + \binom{n}{2} + \dots + \binom{n}{n} = 2^n\). </p>

        <p>সমস্যাঃ প্রমাণ কর যে, \(\binom{n}{0} - \binom{n}{1} + \binom{n}{2} - \dots + (-1)^n \binom{n}{n} = 0\). </p>

<h3>অলিম্পিয়াড সমস্যা </h3>

        <p>সমস্যা C1: </p> তুমি একটা \(m \times n\) গ্রিডের একেবারে নিচে বাম কোনায় দাঁড়িয়ে আছ। তুমি গ্রিডের বাহুগুলো ধরে ধরে একেবারে উপরের ডান কোনায় যেতে চাও। কিন্তু শর্ত হল তুমি কেবল উপরে অথবা ডানে যেতে পারবে, কখনো নিচে বা বামে আসতে পারবে না। তাহলে তুমি কতভাবে যেতে পারবে?</p>

        <p>সমাধানঃ  ধরা যাক, ডানে যাওয়ার মুভকে আমরা \(R\) এবং উপরে যাওয়ার মুভকে আমরা \(U\) দ্বারা চিহ্নিত করছি। তাহলে দেখ, আমাদের মোট \(n\) বার ডানে আর \(m\) বার উপরে যেতে হবে, আমরা যে পথেই যাই না কেন। অর্থাৎ \(n\) টা \(R\) আর \(m\) টা U কে আমরা যতভাবে একটা সারিতে সাজাতে পারবো ঠিক ততটা ভিন্ন ভিন্ন পথ আমাদের আছে।
        এখন আমরা হিসাব করি \(n\) টা \(R\) আর \(m\) টা \(U\) কে আমরা কতভাবে একটা সারিতে সাজাতে পারি। এরকম কোন সারিতে মোট \((m+n)\) টা জায়গা আছে। সেগুলো থেকে আমরা \(n\) টা \(R\) বসানোর জন্য \(n\) টা জায়গা বেছে নিলাম \(\binom{m+n}{n}\) ভাবে। এরপর বাকি \(m\) টা জায়গাতেই \(m\) টা \(U\) বসাতে হবে। অর্থাৎ মোট \(\binom{m+n}{n}\) ভাবেই সারিটা গঠন করা যায়। ফলে আমাদের পথ সংখ্যাও হবে \(\binom{m+n}{n}\). </p>


        <p>সমস্যা C2: ধরে নাও আগের সমস্যাতেই আমরা আরেকটা বাড়তি শর্ত দিলাম সেটা হল তুমি আগে থেকে চিহ্নিত করা একটা বিন্দুতে যেতে পারবে না। তাহলে এই গ্রিডে তুমি কতটা আলাদা পথ পাবে? (নিষিদ্ধ বিন্দুটার অবস্থান ধরে নাও \(u\) তম সারি আর \(v\) তম সারির ছেদবিন্দুতে) </p>

        <p>সমস্যা C3.  \(a_1 + a_2 + a_3 = n\) সমীকরণের কতগুলো সমাধান আছে যেখানে \(a_1, a_2, a_3\) ধনাত্মক পূর্ণসংখ্যা ? </p>

        <p>সমাধানঃ  ধরা যাক, আমরা একটা সারিতে \(n\) টা বল পাশাপাশি  সাজিয়ে রেখেছি। এখন এই \(n\) টা বলের মাঝে \(n-1\) টা ফাঁকা জায়গা আছে। এই \(n-1\)  টা ফাঁকা জায়গার মাঝে দুইটা জায়গা বেছে নিয়ে আমরা এই দুই ফাঁকা জায়গায় দুইটা বিন্দু বসিয়ে সবগুলো বলকে আমরা তিনভাগে ভাগ করে ফেলতে পারি। এখন ১ম,২য়,৩য় ভাগের বল সংখ্যা যদি \(x,y,z\) হয় তাহলে \(x + y + z = n\). অর্থাৎ \((x,y,z)\) হল আমাদের প্রদত্ত সমীকরণের একটা সমাধান। আবার লক্ষ্য কর, কোন না কোনভাবে বিন্দুগুলো বসিয়ে আমাদের সমীকরণের সবগুলো সমাধানই বের করা সম্ভব। তাহলে বলা যায়, আমরা যতভাবে দুইটা বিন্দু বসাতে পারবো আমাদের সমীকরণের ঠিক ততগুলোই সমাধান থাকবে। আর আমরা আগেই দেখেছি যে \(n-1\) টা জায়গা থেকে
        \(2\) টা ফাঁকা জায়গা বেছে নেওয়া যাবে \(\binom{n-1}{2}\) ভাবে। অর্থাৎ, আমাদের সমীকরণের সমাধান আছে \(\binom{n-1}{2}\) টি। </p>

        <p>উপপাদ্য C2.1: \(a_1 + a_2 + a_3 + \dots +a_k = n\) সমীকরণের সমাধান সংখ্যা \(\binom{n-1}{k-1}\) টি, যেখানে \(a_1, a_2, a_3, \dots ,a_k\) ধনাত্মক পূর্ণসংখ্যা। </p>

        <p>প্রমাণঃ আগের সমস্যার মতই, নিজে কর।</p>

        <p>উপপাদ্য C2.2: \(a_1 + a_2 + a_3+ \dots + a_k = n\) সমীকরণের সমাধান আছে \(\binom{n+k-1}{k-1}\)  টি, যেখানে \(a_1, a_2, a_3, \dots, a_k\) হল অঋণাত্মক পূর্ণসংখ্যা। </p>

        <p>প্রমাণঃ \(a_1 + a_2 + a_3+ \dots +a_k = n\), বা, \((a_1+1) +(a_2+1)+ \dots +(a_k+1) = n+k\). ধরা যাক, \(a_i + 1 = b_i\), যেখানে \(1 \leq i \leq k\). তাহলে, \(b_1 + b_2+ \dots + b_k = n+k\). যেহেতু \(a_i \geq 0\), তাই, \(b_i \geq 1\). অর্থাৎ, পরের সমীকরণের ধনাত্মক পূর্ণসংখ্যায় যতোগুলো আছে, প্রদত্ত সমীকরণের অঋণাত্মক পূর্ণসংখ্যায় ঠিক ততোগুলো সমাধান আছে। আর আমরা আগের উপপাদ্য থেকেই দেখতে পাই, পরের সমীকরণের ধনাত্মক পূর্ণসংখ্যায় সমাধান আছে \(\binom{n+k-1}{k-1}\) টি। </p>

        <p>সমস্যা C4: \(a_1 + a_2+ \dots +a_k = n\) সমীকরণের কতগুলো সমাধান আছে, যেখানে \(a_1,a_2,\dots,a_k\) ধনাত্মক বিজোড় সংখ্যা? </p>

        <p>সমস্যা C5: \(a_1 + a_2+ a_3 = 30\), যেখানে \(a_1, a_2, a_3\) হল ভিন্ন ভিন্ন ধনাত্মক পূর্ণসংখ্যা। তাহলে এই সমীকরণের কয়টি সমাধান আছে? </p>

        <p>সমস্যা C6: ধনাত্নক \(x\) অক্ষে \(10\) টি আর ধনাত্মক \(y\) অক্ষে \(5\) টি ভিন্ন ভিন্ন বিন্দু নেওয়া হল। \(x\) অক্ষের উপরের প্রত্যেকটি বিন্দুর সাথে \(y\) অক্ষের উপর প্রত্যেকটি বিন্দু যোগ করা হল। তাহলে প্রথম অক্ষাংশে মোট কয়টা ছেদবিন্দু পাওয়া যাবে? </p>

        <p> হিন্টঃ উত্তর \(\binom{10}{2}.\binom{5}{2}\) টি।

        <p>সমস্যাঃ একটি সুষম \(20\) ভুজের সবগুলো কর্ণ আঁকা হল। তাহলে বহুভুজের অভ্যন্তরে কর্ণগুলোর কতগুলো ছেদবিন্দু পাওয়া যাবে? </p>

        <p>হিন্টঃ উত্তর \(\binom{20}{4}\) টি। </p>

</body>
</html>
