<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title></title>
  </head>
  <body>

  <h1>অধ্যায় ৯</h1>

  <h2>বিভিন্ন ফলাফল,সমস্যা ও সমাধান </h2>

  <p>এই অধ্যায়ে সমস্যা সমাধানের মাধ্যমে আমরা অনেকগুলো সমস্যা সমাধানের কৌশল শিখব। তবে এই অধ্যায়ের যেসব সমস্যার সমাধান দেওয়া আছে সেগুলোর সমাধান দেখার আগে নিজে নিজে একাধিকবার চেষ্টা করবে। তার পরও না পারলে সমাধান দেখবে। সমস্যার সমাধান মনে না রেখে সমাধানে আসলে কি করা হল তা বোঝার চেষ্টা করবে এবং সেগুলো যাতে পরে নিজে ব্যবহার করতে পারো তার চেষ্টা করবে।</p>


  <h3>বর্গ ও শেষ অংক <br>
  ৯.১ </h3>

  <p><b>ফলাফল ১ঃ</b> যেকোনো জোড় সংখ্যার বর্গকে \(4\) দ্বারা ভাগ করলে ভাগশেষ \(0\) হবে। আর যেকোনো বিজোড় সংখ্যার বর্গকে \(8\) দ্বারা ভাগ করলে ভাগশেষ \(1\) হবে। </p>

  <p><b>প্রমাণঃ</b> যেকোনো জোড় সংখ্যা \(2\) দ্বারা বিভাজ্য, ফলে এর বর্গের মৌলিক উৎপাদক বিশ্লেষণে কমপক্ষে দুইটি \(2\) থাকবে, ফলে বর্গটি \(4\) দ্বারা বিভাজ্য হবে। এখন, যেকোনো বিজোড় সংখ্যাকে \(2k + 1) আকারে লেখা যায়, যেখানে \(k\) পূর্ণসংখ্যা। এখন, \((2k+1)^2 = 4k^2 + 4k + 1 = 4k(k+1) + 1\), এখানে \(k\) ও \(k+1\) দুটি ক্রমিক সংখ্যা, ফলে এদের মধ্যে একটি জোড় সংখ্যা থাকবেই এবং \(k(k+1)\), সংখ্যাটি \(2\) দ্বারা বিভাজ্য হবে। ফলে \(4k(k+1)\) সংখ্যাটি \(8\) দ্বারা বিভাজ্য হবে। অর্থাৎ \( 4k(k+1) + 1\) কে \(8\) দ্বারা ভাগ করলে \(1\) অবশিষ্ট থাকবে। \(\square \)</p>

  <p><b>উপপাদ্য(9.1.1):</b> কোন বর্গসংখ্যাকে \(3\) দ্বারা ভাগ করলে ভাগশেষ হবে \(0\) অথবা \(1\) হবে। অর্থাৎ \(n^2 \equiv 0,\ 1 \pmod 3\). </p>

  <p><b>প্রমাণঃ</b> যেকোনো পূর্ণসংখ্যা \(3k, 3k+1, 3k+2\) এই তিন আকারের কোন একটি আকারের। এখন,  \( (3k)^2 = 9k^2 \equiv 0 \pmod 3\), \((3k+1)^2 = 9k^2 + 6k + 1 \equiv 1 \pmod 3\) এবং, \( (3k+2)^2 = 9k^2 + 12k + 4 \equiv 1 \pmod 3\). \(\square \)</p>

  <p><b>উপপাদ্য(9.1.2):</b> \(n^2 \equiv 0,\ 1,\ 4 \pmod 5\), \(n^2 \equiv 0, 1, 4, 9 \pmod {16}\). </p>

  <p><b>প্রমাণঃ</b> উপরের মত করে নিজে কর। \(\square \)</p>

  <p>অন্যভাবে বললে উপরের উপপাদ্য বলছে যে কোন পূর্ণবর্গকে 4 দ্বারা ভাগ করলে কেবল \(0\) ও \(1\) ভাগশেষ থাকতে পারে। </p>

  <p><b>ফলাফল:</b> দেখঃ <br>
  \( 0 \times 0 = 0\) <br>
  \( 1 \times 1 = 1\), <br>
  \( 2 \times 2 = 4\), <br>
  \( 3 \times 3 = 9\), <br>
  \( 4 \times 4 = 16\), <br>
  \( 5 \times 5 = 25\), <br>
  \( 6 \times 6 = 36\), <br>
  \( 7 \times 7 = 49\), <br>
  \( 8 \times 8 = 64\), <br>
  \( 9 \times 9 = 81\). <br>
   এখান থেকে বলা যায়, কোন পূর্ণবর্গের শেষ অংক \(2, 3, 7, 8\) হতে পারে না। </p>

  <p><b>সমস্যাঃ</b> \(30\) টি \(1\) বিশিষ্ট সংখ্যা কি পূর্ণবর্গ হতে পারে? </p>

  <p><b>সমাধানঃ</b>  \( n = 111 \dots 1\) ̅সংখ্যাটিতে \(30\) টি \(1\) আছে। \(n = 111\dots 100) + 11\), এখানে প্রথম সংখ্যাটিতে \(28\) টি \(1\) আছে এবং এই পদটি \(4\) দ্বারা বিভাজ্য। আর \(11\) কে \(4\) দ্বারা ভাগ করলে ভাগশেষ হয় \(3\), অর্থাৎ, \(n\) কে \(4\) দ্বারা ভাগ করলে ভাগশেষ হবে \(3\). ফলে এটি পূর্ণবর্গ হতে পারবে না। \(\square \)</p>

  <p><b>সমস্যাঃ</b> কোন পূর্ণবর্গ সংখ্যার শেষ দুটি অংক (একই) \(0\) ও \(4\) হতে পারে। এই দুটি অঙ্ক ছাড়া আর কোন অঙ্ক হতে পারে কি? </p>

  <p><b>সমাধানঃ</b> না। শেষ অংক দুটি \(4\) ছাড়া অন্য সংখ্যা হলে মুল সংখ্যাটিকে \(4\) দ্বারা ভাগ করলে ভাগশেষ \(2\) বা \(3\) হয়, (নিজে পরিক্ষা কর সবগুলো ক্ষেত্রে) ফলে সেটা পূর্ণবর্গ হতে পারে না। \(\square \)</p>

  <p><b>সমস্যাঃ</b> একটি চার অঙ্কের পূর্ণবর্গ সংখ্যার প্রথম দুটি অংক অভিন্ন, আবার শেষ দুটি অঙ্কও অভিন্ন। পূর্ণবর্গ সংখ্যাটি নির্ণয় কর। </p>

  <p><b>সমাধানঃ</b> ধরা যাক, সংখ্যাটি \(n = \overline{aabb} = 1000a + 100a + 10b + b = 1100a + 11b = 11(100a+b)\). এখন দেখা যাচ্ছে, \(n, 11\) দ্বারা বিভাজ্য। যেহেতু \(n\) বর্গ সংখ্যা, সুতরাং এটি \(11^2\) দ্বারাও বিভাজ্য। অর্থাৎ \((100a+b)\) সংখ্যাটি \(11\) দ্বারা বিভাজ্য। আবার, \( (100a+b) = 11(9a) + (a+b)\). অর্থাৎ \((a+b)\) এর মান \(11\) দ্বারা বিভাজ্য। পূর্ণবর্গের শেষ অংক \(2, 3, 7, 8\) হতে পারে না। ফলে \((a,b)\) এর সম্ভাব্য মান হতে পারে \((2,9),\ (5,6),\ (7,4)\). আবার দেখা যাচ্ছে, \(n = \frac{11^2 (100a+b)}{11}\). ফলে, \(\frac{100a + b}{11}\) একটি পূর্ণসংখ্যা, এবং \(n\) একটি পূর্ণবর্গ। এখন \(\frac{100a+b}{11}\) এ \(a\) ও \(b\) এর সম্ভাব্য মান গুলো বসিয়ে দেখা যায়, \((a,b) = (7,4)\) এর জন্য \(\frac{100a + b}{11}\) পূর্ণবর্গ হবে। ফলে \(n = 7744\).\(\square \)</p>

  <p><b>সমস্যাঃ</b> একটি পূর্ণবর্গ সংখ্যার শেষ চার অঙ্ক একই। শেষ অঙ্কটি কি কি হতে পারে? </p>

  <p><b>সমস্যাঃ</b> দেখাও যে কোন পূর্ণবর্গ সংখ্যার সবগুলো একই হতে পারে না (সংখ্যাটি \(> 9\)). </p>

  <p><b>সমস্যাঃ</b> \(33\) টি পূর্ণবর্গ সংখ্যার যোগফলও একটি পূর্ণবর্গ সংখ্যা। এই \(33\) টি সংখ্যার মধ্যে ঠিক \(27\) টি সংখ্যা কি জোড় হতে পারে? </p>

  <p><b>সমস্যাঃ</b> একটি তিন অঙ্কের  সংখ্যাকে এর অংকগুলোর যোগফল দ্বারা ভাগ করলে ভাগশেষ সর্বোচ্চ কত হতে পারে?</p>



  <h3>ফার্মা ও অয়লারের উপপাদ্যের প্রয়োগ <br>
  ৯.২ </h3>

  <p><b> সমস্যাঃ</b> দেখাও যে,যেকোনো স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(3^{6n} - 2^{6n}\) সংখ্যাটি \(35\) দ্বারা বিভাজ্য। </p>

  <p><b>সমাধানঃ</b> \( 3^{6n} - 2^{6n}\) সংখ্যাটি \(35\) দ্বারা বিভাজ্য দেখানোর জন্য এটা দেখানোই যথেষ্ট যে, সংখ্যাটি \(5\) ও \(7\) দ্বারা বিভাজ্য। এখন, \(3^6 \equiv 4 \pmod 5\), বা, \(3^{6n} \equiv 4^n \pmod 5\). আবার, \(2^6 \equiv 4 \pmod 5\), বা, \(2^{6n} \equiv 4^n \pmod 5\). সুতরাং, \(3^{6n} - 2^{6n} \equiv 0 \pmod 5\), অর্থাৎ, \(5\) দ্বারা \(3^{6n} - 2^{6n}\)  বিভাজ্য। একই ভাবে প্রমাণ করা যায়, \(7\) দ্বারা \(3^{6n} - 2^{6n}\) সংখ্যাটি বিভাজ্য। \(\square \)</p>

  <p><b>সমস্যাঃ</b> \(p\) এমন একটি মৌলিক সংখ্যা যেটি \(2^p + 1\)  কে নিঃশেষে ভাগ করে। \(p\) এর মন কত কত হতে পারে? </p>

  <p><b>সমাধানঃ</b> স্পষ্টত, \(p\) এর মান \(2\) নয়। তাহলে \(p\) বিজোড় হবে। এখন, ফার্মার উপপাদ্য হতে, \(2^p + 1 \equiv 2 + 1 \equiv 3 \pmod p\). অর্থাৎ, \(p\) দ্বারা \(3\) বিভাজ্য। সুতরাং \(p = 3\) </p>.

  <p><b>সমস্যাঃ</b> এমন সকল সংখ্যা \(p\) নির্ণয় কর যেন \(p\) দ্বারা \(2^p + 1\) সংখ্যাটি বিভাজ্য। </p>

  <p><b>সমস্যাঃ</b> এমন সকল মৌলিক সংখ্যা \(p\) নির্ণয় কর যেন \(p\) দ্বারা \(2^p - 1\) সংখ্যাটি বিভাজ্য। </p>

  <p><b> সমস্যাঃ </b> \(p\) একটি নির্দিষ্ট মৌলিক সংখ্যা। এমন সকল পূর্ণ সংখ্যা \(a\) বের কর যেন \(p\) দ্বারা \(a^p + 1\) নিঃশেষে বিভাজ্য হয়। </p>

  <p><b>সমাধানঃ</b> ফার্মার উপপাদ্য হতে বলা যায়, \(a^p \equiv a \pmod p\), বা, \(a^p + 1 \equiv a + 1 \pmod p\). অর্থাৎ \(p\) দ্বারা \(a^p + 1\) কে বিভাজ্য হতে হলে \(a+1\) কেও \(p\) দ্বারা বিভাজ্য হতে হবে। এখন সেটা হতে পারে যদি \(a, p\) এর কোন গুণিতকের চেয়ে \(1\) কম হয়, অর্থাৎ \(a = pk - 1\) আকারের কোন সংখ্যা হয়। </p>

  <p><b>সমস্যাঃ</b> \(p\) একটি নির্দিষ্ট মৌলিক সংখ্যা। এমন সকল পূর্ণ সংখ্যা \(a\) বের কর যেন \(p\) দ্বারা \(a^p + k\) নিঃশেষে বিভাজ্য হয়। </p>

  <p><b>সমস্যাঃ</b> মনে কর \(p\) একটি মৌলিক সংখ্যা, যেখানে \(a^p = b^p + c^p\). প্রমাণ কর যে, \((a-b-c)\) সংখ্যাটি \(p\) দ্বারা বিভাজ্য। </p>

  <p><b>সমস্যাঃ</b> এমন একটি যৌগিক সংখ্যা \(n\) বের কর যেন যেকোনো পূর্ণসংখ্যা \(a\) এর জন্য, \(a^n \equiv a \pmod n\) হয়। </p>


  <h3>আরও বিভাজ্যতা <br>
  ৯.৩</h3>

  <p><b>সমস্যাঃ</b> \(n\) একটি স্বাভাবিক সংখ্যা এবং \(p\) একটি মৌলিক সংখ্যা। একটি সেটে \(n\) সংখ্যক পূর্ণসংখ্যা আছে। এদের প্রত্যেক জোড়া সংখ্যা নিয়ে তাদের অন্তর বের করা হল। এরপর সবগুলো অন্তরফলকে গুণ করা হল। \(n\) এর মান সবনিম্ন কত হলে নিশ্চিতভাবে বলা যাবে যে এই গুণফলটি \(p\) দ্বারা বিভাজ্য? </p>

  <p><b>সমাধানঃ</b> গুণফলটি \(p\) দ্বারা বিভাজ্য হবে যদি অন্তত একটি অন্তর \(p\) দ্বারা বিভাজ্য হয়। \((a-b)\) সংখ্যাটি \(p\) দ্বারা বিভাজ্য হবে যদি \(a\) ও \(b\) কে \(p\) দ্বারা ভাগ করে একই ভাগশেষ হয়। আর \(p\) দ্বারা একটি সংখ্যাকে ভাগ করলে ভাগ শেষ হতে পারে \(0\) হতে \(p-1\) পর্যন্ত। সুতরাং দুটি ভাগশেষ একই হতে হলে আমাদের কমপক্ষে \(p + 1\) টি সংখ্যা থাকতে হবে। অর্থাৎ \(n\) এর মান কমপক্ষে \(p+1\) হতে হবে। \(\square \)</p>

  <p><b>সমস্যাঃ</b> উপরের প্রশ্নে যদি \(p\) এর স্থানে \(p_1 p_2 p_3 \dots p_k\) চিন্তা করা হয়, যেখানে \(p_1, p_2, p_3, \dots ,p_k\) ভিন্ন ভিন্ন মৌলিক সংখ্যা, তাহলে \(n\) এর মান কমপক্ষে কত হবে? </p>

  <p></b>সমস্যাঃ</b> প্রমাণ কর যে যেকোনো পূর্ণসংখ্যা \(a, b, c, d\) এর জন্য \((a-b)(b-c)(c-d)(d-a)(b-d)(a-c)\) সংখ্যাটি \(12\) দ্বারা বিভাজ্য। </p>

  <p><b>সমস্যাঃ</b> \(99\) কে সর্বনিম্ন কত দ্বারা গুণ করলে গুণফল কেবল \(1\) বিশিষ্ট একটি সংখ্যা হবে? </p>

  <p><b>সমাধানঃ</b> ধরা যাক, \(99k = 111 \dots 1\), এখানে \(n\) সংখ্যক \(1\) আছে। এখন, \(99k\) সংখ্যাটি \(99\) দ্বারা বিভাজ্য, ফলে এটি \(9\) ও \(11\) দ্বারা বিভাজ্য হতে হবে, এবং তা হলেই আমাদের শর্ত পূরণ হবে। এখন \(99k, 11\) দ্বারা বিভাজ্য হবে যদি এতে জোড় সংখ্যক \(1\) থাকে, আবার \(n,\ 9\) দ্বারা বিভাজ্য হবে যদি এতে \(9\) এর গুণিতক সংখ্যক \(1\) থাকে। \(9\) এর সর্বনিম্ন জোড় গুণিতক হল \(18\). তাহলে \(n\) এ \(18\) টি \(1\) আছে। অর্থাৎ \(k = \frac{1\dots 1}{99}\), যেখানে লবে \(18\) টি অংক আছে। \(\square \)</p>

  <p><b>সমস্যাঃ</b> দেখাও যে, যেকোনো স্বাভাবিক \(n\) এর জন্য, \(8^n + 7^n - 3^n - 2^n\) সংখ্যাটি \(10\) দ্বারা বিভাজ্য। </p>

  <p><b>ফলাফলঃ</b> যেকোনো স্বাভাবিক সংখ্যা \(n\) এর জন্য \(4^n + n^4\) সংখ্যাটি যৌগিক হবে। </p>

  <p><b>প্রমাণঃ</b> \(n\) জোড় সংখ্যা হলে \(4^n + n^4\) সংখ্যাটি জোড় হবে, ফলে এটি যৌগিক হবে। এখন \(n\) বিজোড় হলে, \(n = 2k + 1\) লেখা যায়। তাহলে, \(4^n + n^4\) \(= 4^{2k+1} + (2k+1)^4\)
  \( = (2^{2k+1})^2 + ((2k+1)^2)^2 + 2.\ 2^{2k+1}.\ (2k+1)^2 - 2.\ 2^{2k+1}.\ (2k+1)^2\)
  \(= (2^{2k+1} + (2k+1)^2)^2 - (2^{2k+1} (2k+1))^2\)
  \( = (2^{2k+1} + (2k+1)^2 + 2^{2k+1} (2k+1))(2^{2k+1} + (2k+1)^2 - 2^{2k+1} (2k+1))\), যা একটি যৌগিক সংখ্যা। \(\square \)</p>


  <p><b>সমস্যাঃ</b> দেখাও যে \(p\) ও \(p^2 + 3\) দুইটিই মৌলিক সংখ্যা হলে \(p^3 + 3\) ও মৌলিক সংখ্যা হবে। </p>

  <p><b>সমস্যাঃ</b> এমন সকল সংখ্যা \(n\) বের কর যেন \(\sqrt{n}\) পর্যন্ত সকল মৌলিক সংখ্যা দ্বারা \(n\) বিভাজ্য হয়। </p>

  <p><b>সমস্যাঃ</b> \(100!\) সংখ্যাটির শেষে কয়টি \(0\) আছে? </p>

  <p><b>সমস্যাঃ</b> \(a, b, c, d\) ভিন্ন ভিন্ন স্বাভাবিক সংখ্যা হলে, \(a!+ b! = c!+ d!\) হতে পারে কি? </p>

  <p><b>সমস্যাঃ</b> \(1!+ 2!+ 3!+ \dots +99! + 100!\) কে \(18\) দ্বারা ভাগ করলে ভাগশেষ কত হবে? </p>

  <p><b>সমস্যাঃ</b> \(m\) দ্বারা \((m-1)! + 1\) বিভাজ্য হলে দেখাও যে \(m\) অবশ্যই মৌলিক সংখ্যা হবে। </p>


  <p>একটা প্রয়োজনীয় উপপাদ্য।</p>

  <p><b>উপপাদ্য(9.3.1):</b> যেকোনো স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(a^n - b^n = (a-b)(a^{n-1} + a^{n-2} b + a^{n-3} b^2 + \dots +ab^{n-2} + b^{n-1} )\) </p>

  <p><b>প্রমাণঃ </b> \((a-b)(a^{n-1} + a^{n-2} b + a^{n-3} b^2 + \dots +ab^{n-2} + b^{n-1})\) \(= a(a^{n-1} + a^{n-2} b + a^{n-3} b^2 + \dots + ab^{n-2} + b^{n-1}) - b(a^n + a^{n-2} b + a^{n-3} b^2 + \dots + ab^{n-2} + b^{n-1})\)
  \( = a^n + a^{n-1} b + a^{n-2} b^2 + \dots +a^2 b^{n-2} + ab^{n-1} - a^{n-1} b - a^{n-2} b^2 - a^{n-3} b^3 - \dots ab^{n-1} - b^n\) \(= a^n - b^n\).\(\square \) </p>

  <p><b>উপপাদ্য(9.3.2):</b> \(n\) বিজোড় স্বাভাবিক সংখ্যা হলে,
               \(a^n + b^n = (a+b) (a^{n-1} - a^{n-2} b + a^{n-3} b^2 - a^{n-4} b^3 + \dots +b^{n-1}) \). </p>

  <p><b>প্রমাণঃ</b> আগেরটার মতই বন্ধনি তুলে দিয়ে সরল কর। \(\square \)</p>

  <p><b>সমস্যাঃ</b> দেখাও যে, \(2^n + 1\) মৌলিক হলে \(n,\ 2^k\) আকারের একটি সংখ্যা হবে ( \(n\) এর কোন বিজোড় উৎপাদক থাকবে না)। </p>

  <p><b>সমস্যাঃ</b> দেখাও যে, \(2^n-1\) মৌলিক হলে \(n\) কেও মৌলিক হতে হবে। </p>




  <h3>সংখ্যার উৎপাদক সংখ্যা <br>
  ৯.৪</h3>

  <p>তৃতীয় অধ্যায়ে আমরা দেখেছি, \(n = p_1^{a_1} p_2^{a_2} p_3^{a_3} \dots p_k^{a_k}\) হলে, যেখানে \(p_1, p_2,\dots ,p_k\) ভিন্ন ভিন্ন মৌলিক সংখ্যা, \(n\) এর মোট উৎপাদক সংখ্যা \((a_1 + 1)(a_2 + 1)( a_3 + 1) \dots (a_k + 1)\). এখন এই উপপাদ্য ব্যবহার করে আমরা কিছু সমস্যা সমাধান করব। </p>

  <p><b>উপপাদ্য(9.4.1):</b> কেবলমাত্র পূর্ণবর্গ সংখ্যার বিজোড় সংখ্যক উৎপাদক থাকে। </p>

  <p><b>প্রমাণঃ</b> ধরা যাক, \(k, \ n\) এর একটি উৎপাদক। তাহলে, \(\cfrac{n}{k}\) সংখ্যাটি একটি পূর্ণসংখ্যা হবে এবং এটিও \(n\) এর একটি উৎপাদক হবে, কারণ, \((\cfrac{n}{k})k = n\). তাহলে দেখা যাচ্ছে, \(n\) এর উৎপাদকগুলকে জোড়ায় জোড়ায় ভাগ করা যাচ্ছে, যেখানে এক জোড়ার দুটি সংখ্যার গুণফল \(n\). \(n\)  পূর্ণবর্গ হলে \(\sqrt{n}\) সাথে \( \sqrt{n} \) এর জোড়া হবে, অন্যথায় \(k\) এবং \(\cfrac{n}{k}\) সর্বদায় ভিন্ন হবে। অর্থাৎ, \(n\) পূর্ণবর্গ না হলে \(n\) এর জোড় সংখ্যক উৎপাদক থাকবে। আর \(n\) পূর্ণবর্গ হলে বিজোড় সংখ্যক উৎপাদক থাকবে। \(\square \)</p>

  <p><b>সমস্যাঃ</b> \(540\) এর সবগুলো উৎপাদক এর গুণফল নির্ণয় কর। </p>

  <p><b>সমস্যাঃ</b> একটি স্থানে \(1\) হতে \(20\) পর্যন্ত নাম্বার দেওয়া \(20\) টি বাক্স আছে, আর \(1\) হতে \(20\) রোল পর্যন্ত ছাত্র আছে। প্রথমে সবগুলো বাক্স বন্ধ ছিল। \(1\) রোল গিয়ে সবগুলো বাক্স খুলে দিল। এরপর \(2\) রোল গিয়ে \(2,4,6\), এভাবে \(20\) পর্যন্ত বাক্স বন্ধ করবে। \(3\) রোল গিয়ে \(3,6,9, \dots \) এরকম বাক্সগুলো খুলে দিবে/বন্ধ করবে (খোলা থাকলে বন্ধ করবে, এবং বন্ধ থাকলে খুলে দেবে)। এভাবে \(20\) রোল পর্যন্ত চলবে। সবশেষে কয়টি বাক্স বন্ধ থাকবে? </p>

  <p><b>সমস্যাঃ</b> \(1\) হতে \(1000\) পর্যন্ত সংখ্যাগুলো বোর্ডে লেখা হল। এরপর প্রত্যেকটি সংখ্যা মুছে দিয়ে তার জায়গায় সংখ্যাটির উৎপাদক সংখ্যা লেখা হল। এরপর আবার এই সবগুলো সংখ্যা মুছে দিয়ে এদের যোগফল লেখা হল। এই সংখ্যাটি জোড় নাকি বিজোড়? </p>

  <p>মনে কর \(T_k\) দ্বারা \(k\) এর উৎপাদক সংখ্যা নির্দেশ করা হয়। তাহলে প্রমাণ কর যে,
  \(T_1 + T_2 + T_3 + \dots + T_n = \lfloor \frac{n}{1} \rfloor + \lfloor \frac{n}{2} \rfloor + \lfloor \frac{n}{3} \rfloor + \dots + \lfloor \frac{n}{n} \rfloor \). </p>

  <p><b>সমস্যাঃ</b> \(420\) কে কতভাবে কয়েকটি একই সংখ্যার যোগফল হিসাবে লেখা যায়? </p>

  <h3>ডায়োফেন্টাইন সমীকরণ <br>
  ৯.৫ </h3>

   <p> \( 3x + 2y = 7\), সমীকরণের পূর্ণসাংখ্যিক সমাধান হতে পারে \((x,y) = \ (1,2),\ (-1,5),\ (3,-1)\) ইত্যাদি. আবার, \(3x + 2y = 5\) এর সমাধান হতে পারে \((1,1)\). এরকম প্রদত্ত সমীকরণের সংখ্যার চেয়ে চলকের সংখ্যা বেশি হলে এসব সমীকরণ বা সমীকরণ জোটের সমাধান এবং তা আদৌ সমাধান করা যাবে কিনা তা অনুসন্ধান করাই এই অধ্যায়ের উদ্দেশ্য। </p>

  <p><b>চলকের এক মাত্রার ক্ষেত্রে </b><p>

  <p> \(a_1 x_1 + a_2 x_2 + \dots + a_n x_n = s\) হলে, যেখানে \(s\) ধ্রুবক, সমীকরণের সমাধান থাকবে যদি ও কেবল যদি \((a1, a2,\dots ,an)\) দ্বারা \(s\) বিভাজ্য হয়। </p>

  <p><b>উদাহরণঃ</b> \(3x + 9y = 17\) সমীকরণের কোন সমাধান নেই, কারণ \(3,9\) এর গ.সা.গু দ্বারা \(17\) বিভাজ্য নয়। অন্যভাবে বলা যায়, \(x,y\) এর যেকোনো মানের জন্যই বামপক্ষ \(3\) দ্বারা বিভাজ্য হবে, কিন্তু ডানপক্ষ হবে না। ফলে এর কোন সমাধান নেই। </p>

  <p><b>সমস্যাঃ</b> পূর্ণসংখ্যায় \(17y + 289z = 17\) এর সমাধান আছে কি? </p>

  <p><b>সমাধান বের করাঃ </b></p>

  <p> \(a_1 x_1 + a_2 x_2 + \dots + a_n x_n = s\) আকারের সমীকরণের সমাধান থাকলে অসীম সংখ্যক সমাধান থাকে, এদের একটি বের করতে পারলে বাকিগুলোও বের করা যায়। এখানে উদাহরণের মাধ্যমে একটি সমাধান করার পদ্ধতি দেখানো হল। </p>

  <p> ধরা যাক, \(5x + 13y = 61\) এর একটি সমাধান বের করতে হবে। \( 5x = 61 - 1313 y,\ x = \frac{61-13y}{5} = 12 - 2y + \frac{1-3y}{5}\), যেখান থেকে দেখা যায়, \(1-3y\), \(5\) দ্বারা বিভাজ্য হবে। সহজেই এমন একটি সমাধান পাওয়া যায় যা হল \(y=2\), তাহলে \(x = 7\). একটি সমাধান পেয়ে গেলাম।
  আবার , reduced residue system থেকেও একটি সমাধান বের করা যায়।  উপরের সমীকরণ থেকে, \(13x - 61 = -5y\), বা, \( 13x \equiv 61 \pmod 5\), বা, \(3x \equiv 1 \pmod 5\). \( \{1,2,3,4 \}\)এবং \( \{3,6,9,12\}\) দুইটিই reduced residue system \(\pmod 5\). \(3,6,9,12\) এর মধ্যে \(6 = 3\ times 2 \equiv 1 \pmod 5\). অর্থাৎ, \(x=2\) একটি সমাধান। </p>

  <p><b>সমস্যাঃ</b> \(x^2 + 1 = 39y\) সমীকরণটির পূর্ণসংখ্যায় কোন সমাধান আছে কি? </p>

  <p><b>সমাধানঃ</b> \(x^2 \equiv 0,1 \pmod 3\), বা, \(x^2 + 1 \equiv 1,2 \pmod 3\), কিন্তু ডানপক্ষ \(\equiv 0 \pmod 3\). ফলে এর কোন সমাধান নেই। \(\square \)</p>

  <p>এই ধরণের সমীকরণ নিয়ে কাজ করার সময় জোড় বিজোড়, বিভিন্ন সংখ্যা দিয়ে ভাগ করে প্রাপ্ত ভাগশেষ ইত্যাদি নিয়ে চিন্তা করলে সুবিধা হতে পারে। </p>


  <h3>
    ডায়োফেন্টাইন সমীকরণ নিয়ে সমস্যা <br>
    ৯.৬
  </h3>

  <p><b>সমস্যা N1:</b> \(2^m-3^n=1\), যেখানে \(m,n\) অঋণাত্মক পূর্ণসংখ্যা। এর সকল সমাধান বের কর। </p>

  <p><b>সমস্যা N2:</b> \(3^n-2^m=1\), যেখানে \(m,n\) পূর্ণসংখ্যা। এর সকল সমাধান বের কর।</p>

  <p><b>সমস্যা N3:</b> \(x,y\) পূর্ণসংখ্যা হলে \(2^x-1=y^2, \ 2^x+1=y^2\) সমীকরণ দুটির সকল সমাধান বের কর। </p>

  <p><b>সমস্যা N4:</b> \(a,b,c,d\) পূর্ণ সংখ্যা হলে \(4^a+4^b+4^c = 4^d\) এর সকল সমাধান বের কর। </p>

  <p><b>সমস্যা N5:</b> স্বাভাবিক সংখ্যায় সমাধান করঃ \(2^x+3=11^y\) </p>

  <p><b>সমস্যা N6:</b> সকল পূর্ণসংখ্যার জোড়া \(m,n\) বের কর যেন \(m^2-y!=2001\) হয়।

  <p><b>সমস্যা N7:</b> সকল পূর্ণসংখ্যার জোড়া \((m,n)\) বের কর যেন \(3^m+3^n+1\) একটি বর্গসংখ্যা হয়। </p>

  </body>
</html>
