<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <style>
      body {
        line-height: 200%;
        max-width: 960px;
        margin: 0 auto;
      }
    </style>
    <title></title>
  </head>
  <body>

    <h1>অধ্যায় ৩ </h1>

    <h2>মডুলার এরিথমেটিক <br>
    Modular Arithmetic </h2>

    <p>সংখ্যাতত্ত্বের অনেক সমস্যা সমাধানে মডুলার এরিথমেটিক একটি শক্তিশালী টুল। এর বৈশিষ্ট্যগুলো ব্যাবহার করে অনেক সমস্যার সমাধান খুব সহজে করা যায়। সংজ্ঞাতে যাবার আগে কয়েকটা উদাহরণ দেখা যাক।
    প্রথমে ধরা যাক সপ্তাহের দিনের কথা। সপ্তাহে মাত্র সাতটি বার রয়েছে। এই সাতটি বার ব্যবহার করেই কিন্তু আমরা যেকোন দিনের নাম দেই। এই নামগুলো কিন্তু কোনভাবেই এলোমেলো নয়। ঠিক সাত দিন পর পর একই বার ঘুরে ঘুরে আসে। যেমন, একটা মাসের \(1,8,15,22,29\) তারিখগুলো একই বারের হবে, কারণ এই দিনগুলো ঠিক \(7\) দিন পরপর আসে। লক্ষ্য কর, এই সবগুলো তারিখকেই \(7\) দিয়ে ভাগ করলে একই ভাগশেষ থাকে।  আবার, \(3,10,17,24\) তারিখগুলো একই বার হবে। এই তারিখ গুলোকেও \(7\) দিয়ে ভাগ করলে একই ভাগশেষ পাওয়া যায়।  তাই \(1,8,15,22,29\) সংখ্যাগুলোকে একই class বা ধরণের এর বলতে পারি। আবার, \(3,10,17,24\) সংখ্যাগুলোও একই class এর । </p>

    <p>একইভাবে আমরা দেখতে পাই বছরের মাসগুলো ক্রমান্বয়ে ঘুরে ঘুরে আসে। এই রকম ঘুরে ঘুরে একই জিনিস বারবার ব্যবহার করার ব্যবস্থা না থাকলে কিন্তু আমাদের সময়ের হিসাব অনেক জটিল হয়ে যেত।
    আরেকটা লক্ষ্যনীয় ব্যপার হল, যেহেতু উপরের উদাহরণে একই class এর সংখ্যাগুলো \(7\) দ্বারা ভাগ করলে একই ভাগশেষ থাকে, এদের যেকোন দুইটি পার্থক্য কিন্তু \(7\) এর একটি গুণিতক হবে। </p>

    <p><b>সমস্যাঃ</b> \(2010\) সালের জানুয়ারি মাসের \(1\) তারিখ শুক্রবার। তাহলে ঐ বছরের মে মাসের \(7\) তারিখ কি বার হবে? </p>

    <p>এবার আমরা সংজ্ঞার দিকে আগাতে পারি। </p>

    <p><b>সংজ্ঞাঃ</b> \(a, b\) পূর্ণসংখ্যা। \(a-b\) সংখ্যাটি যদি আরেকটি সংখ্যা পূর্ণসংখ্যা \(m\) দ্বারা বিভাজ্য হয়, তাহলে এটাকে লেখা যায় \(a \equiv b \pmod m\). এটাকে পড়া হয় \(a\) <em> is congruent to</em> \(b\) <em> module </em> \(m\) ( \(a\) ইজ কনগ্রুয়েন্ট টু \(b\) মডিউলো \(m\)). এখানে \(\equiv\) চিহ্ন এবং \(mod\) অপারেটর দ্বারা \(a, b, m\) সংখ্যা তিনটির মধ্যে একটি সম্পর্ক প্রকাশ করা হচ্ছে। </p>

    <p>\(12-2 = 10. \ 10\) সংখ্যাটি \(5\) দ্বারা বিভাজ্য। তাহলে বলা যায়, \(12 \equiv 2 \pmod 5\). আবার \(2-12 = -10\). তাই \(2 \equiv 12 \pmod 5\) ও সত্য।
    নিচের উদাহরণগুলো নিজে নিজে ব্যাখ্যা করঃ </p>
    <p> \(I)\  1 \equiv 1 \pmod 1\) <br>
    \(II)\  1 \equiv 1 \pmod {10}\) <br>
    \(III) \ 34 \equiv 17 \pmod {17}\) <br>
    \(IV) \ 43 \equiv 3 \pmod {10}\) <br>
    \(V)\ 9 \equiv 1 \pmod 2, \ 9 \equiv 1 \pmod 4, \ 9 \equiv 1 \pmod 8\).</p>

    <p>লক্ষ্য কর, \(m\) দ্বারা \(a\) ও \(b\) কে ভাগ করে একই ভাগশেষ পাওয়া গেলেই কেবল \(m\) দ্বারা \((a-b)\) বিভাজ্য হবে বা, \(a \equiv b \pmod m\) হবে। আবার বিপরীত দিক হতে, \(a \equiv b \pmod m\) হলে \(m\) দ্বারা \(a\) ও \(b\) কে ভাগ করলে একই ভাগশেষ থাকবে। </p>

    <p><b>সমস্যাঃ</b><br>
    \(I) \ 30 \equiv 4 \pmod x\)  হলে \(x\) এর মান কত হতে পারে? <br>
    \(II)\) দেখাও যে \(a \equiv b \pmod m\) হলে \(m\) এর যেকোনো উৎপাদক \(k\) এর জন্য
    \(a \equiv b \pmod k\) হবে। <br>
    \(III)\) দেখাও যে \(a \equiv b \pmod m\) হলে \(b \equiv a \pmod m\) হবে। <br>
    \(IV)\) দেখাও যে \(a \equiv b \pmod m\) হলে যেকোনো পূর্ণসংখ্যা \(k\) এর জন্য, \(a + k \equiv b+k \pmod m\), \(a-k \equiv b-k \pmod m\) এবং \(ak \equiv bk \pmod m\) হবে। </p>

    <p>কিছু গুরুত্বপূর্ণ ধর্মঃ<br>
    \(I) \ a \equiv b \pmod m\) হলে এমন একটি পূর্ণ সংখ্যা \(k\) থাকবে যেন \(a = b + mk\) হয়। <br>
    \(III)\ a \equiv b \pmod m\) এবং \(b \equiv c \pmod m\) হলে, \(a \equiv c \pmod m\) হবে। <br>
    \(II)\ a \equiv b \pmod m\) এবং \(c \equiv d \pmod m\) হলে \(a + c \equiv b + d \pmod m\) হবে। <br>
    এই বৈশিষ্ট্যগুলো সংজ্ঞা থেকে সুস্পষ্ট। নিজে প্রমাণ কর। </p>

    <p><b>উপপাদ্য (3.1)</b>: \(a \equiv b \pmod m\) এবং \(c \equiv d \pmod m\)  হলে \(ac \equiv bd \pmod m\) হবে।</p>

    <p><b>প্রমাণঃ</b> \((a-b)\) এবং \((c-d)\) উভয়েই \(m\) দ্বারা বিভাজ্য। তাহলে, এদের গুণফলও \(m\) দ্বারা বিভাজ্য হবে। এখন, \((a-b)(c-d) = ac - ad - bc + bd = ac - bd + 2bd - ad - bc = ac - bd + bd - bc + bd - ad = ac - bd - b(c-d) - d(a-b)\). বা, \(ac - bd = (a-b)(c-d) + b(c-d) + d(a-b)\).
    যেহেতু ডানপক্ষের প্রত্যেকটি পদই \(m\) দ্বারা বিভাজ্য, সুতরাং, বামপক্ষ \(m\) দ্বারা বিভাজ্য। এই কারনে \(ac-bd, \ m\) দ্বারা বিভাজ্য। অর্থাৎ, \(ac - bd \equiv 0 \pmod m\), বা, \(ac \equiv bd \pmod m\). \(\square \)</p>

    <p><b>অনুসিদ্ধান্তঃ</b> \(a \equiv b \pmod m\) হলে যেকোনো স্বাভাবিক সংখ্যা \(k\) এর জন্য \(a^k\ \equiv b^k \pmod m\). </p>


    <p><b>সমস্যাঃ</b>  \(1 \times 7 \times 13 \times 19 \ \dots \ 1993 \times 1999\) কে \(6\) দ্বারা ভাগ করলে ভাগশেষ কত হবে? </p>

    <p><b>সমাধানঃ</b> \(1 \equiv 1 \pmod 6,\ 7 \equiv 1 \pmod 6,\ 13 \equiv 1 \pmod 6,\ \dots,
    1993 \equiv 1 \pmod 6),\ 1999 \equiv 1 \pmod 6)\). সবগুলো অনুসমতা গুণ করে পাই, \(1 \times 7 \times 13 \times 19 \times \ \times 1993 \times 1999 \equiv 1 \times 1 \times 1 \times \dots \times 1 \equiv 1 \pmod 6\), অর্থাৎ ভাগশেষ হবে \(1\).\(\square \)</p>

    <p><b>সমস্যাঃ</b> \(9^{23}\) সংখ্যাটির এককের অঙ্কটি বের কর। </p>

    <p><b>সমাধানঃ</b> কোন সংখ্যাকে \(10\) দ্বারা ভাগ করলে যে ভাগশেষ থাকে সেটিই হল সংখ্যাটির এককের অঙ্ক। এখন আমরা মডুলার এরিথমেটিক ব্যাবহার করে দেখব \(9^{23}\) কে \(10\) দ্বারা ভাগ করলে কত ভাগশেষ থাকে। প্রথমে দেখ, \(9 \equiv -1 \pmod 10\). উভয় পক্ষের পাওয়ার \(23\) নিলে, \(9^{23}  \equiv (-1)^{23} \equiv -1 \pmod 10\). অর্থাৎ, \(9^{23}-(-1)= 9^{23} + 1,\ 10\) দ্বারা বিভাজ্য। যা থেকে বলা যায়, \(9^{23} + 1\) সংখ্যাটির শেষ অংক \(0\), বা \(9^{23}\) এর শেষ অংক \(9\). \(\square \)</p>

    <p><em>তোমার যদি দ্বিপদী উপপাদ্য জানা না থাকে, তবে কম্বিনেটরিক্স অংশের দ্বিপদী উপপাদ্য অংশ পর্যন্ত পড়ে এখানে ফিরে এসো। </em></p>

    <p><b>উপপাদ্য(3.2)</b>:  যেকোনো মৌলিক সংখ্যা \(p\) এবং যেকোনো সংখ্যা \(1 \leq a < p\) এর জন্য \(\binom{p}{a}\), \(p\) দ্বারা বিভাজ্য। </p>

    <p><b>প্রমাণঃ</b> \(\binom{p}{a} = \frac{p!}{a!(p-a)!}\). এখন, p যেহেতু মৌলিক সংখ্যা, সুতরাং এটি শুধু \(1\) এবং \(p\) দ্বারা বিভাজ্য। ভগ্নাংশটির হর = (\(1\) হতে \(a\) পর্যন্ত সংখ্যাগুলোর গুনফল) \(\times\)  (\(1\) হতে \(p-a\) পর্যন্ত সংখ্যাগুলোর গুনফল)। \(a\) এবং \((p-a)\) উভয়েই \(p\) এর চেয়ে ছোট। সুতরাং \(1\) হতে \(a\) পর্যন্ত সংখ্যাগুলো এবং \(1\) হতে \((p-a)\) পর্যন্ত সংখ্যাগুলোর মধ্যে \(p\) এর কোন উৎপাদক নেই। কিন্তু ভগ্নাংশের লবে উৎপাদক হিসাবে \(p\) আছে। সুতরাং \(\binom{p}{a},\ p\) দ্বারা বিভাজ্য। \(\square \)</p>

    <p>এখন আমরা ফার্মার উপপাদ্য প্রমাণ করব। এর জন্য আমাদের দ্বিপদী উপপাদের  সাহায্য নিতে হবে। দ্বিপদী উপপাদ্যটি হল, যেকোনো দুটি বাস্তব সংখ্যা \(x, a\) এবং ধনাত্মক পূর্ণসংখ্যা \(n\) জন্য,</p>

    <p>\( \large{ (x+a)^n = \binom{n}{0} x^n + \binom{n}{1} x^{n-1} a + \binom{n}{2} x^{n-2} a^2 + \binom{n}{3} x^{n-3} a^3 + \dots + \binom{n}{n-1} x a^{n-1} + \binom{n}{n} a^n }\) </p>

    <p>এই উপপাদ্যের প্রমাণ আমরা কম্বিনেটরিক্স অংশে দেখবো। এখন আমরা আগের উপপাদ্যটি ব্যাবহার করে আরেকটি ফলাফল দাড় করাবো। </p>

    <p><b>উপপাদ্য(3.3):</b>  \((x+a)^p \equiv x^p + a^p \pmod p\).</p>

    <p><b>প্রমাণঃ</b> দ্বিপদী উপপাদ্য হতে পাই, \((x+a)^p = \binom{p}{0} x^p + \binom{p}{1} x^{p-1} a + \binom{p}{2} x^{p-2} a^2 + \binom{p}{3} x^{p-3} a^3 + \dots + \binom{p}{p-1} x a^{p-1} + \binom{p}{p} a^p\). আগের উপপাদ্য হতে দেখা যায় যে ডানপক্ষের \(\binom{p}{0} x^p\) এবং \(\binom{p}{p} a^p\) পদ দুটি ছাড়া আর সব পদ \(p\) দ্বারা বিভাজ্য। এই পদ দুটিকে বামপক্ষে নিলে পাওয়া যায়, \((x+a)^p - \binom{p}{0} x^p \binom{p}{p}a^p = (p\) এর একটি গুণিতক)। অর্থাৎ, \((x+a)^p - \binom{p}{0} x^p - \binom{p}{p} a^p \equiv 0 \pmod p\). বা, \((x+a)^p \equiv \binom{p}{0}x^p + \binom{p}{p} a^p \pmod p\), বা, \((x+a)^p \equiv x^p + a^p \equiv \pmod p\).\(\square \)</p>

    <p><b>ফার্মার উপপাদ্য(3.4):</b> যেকোনো মৌলিক সংখ্যা \(p\) এবং পূর্ণসংখ্যা \(a\) এর জন্য \( a^p \equiv a \pmod p\). </p>

    <p><b>প্রমাণঃ</b>  উপপাদ্য 1.6 হতে পাই, \(a^p = \{ (a-1) + 1 \}^p \equiv (a-1)^p + 1^p \equiv (a-1)^p + 1 \pmod p\). একইভাবে, \((a-1)^p = \{ (a-2) + 1 \}^p \equiv (a-2)^p + 1^p \equiv (a-2)^p + 1 \pmod p\). অর্থাৎ, \(a^p \equiv (a-1)^p + 1 \equiv (a-2)^p + 2 \pmod p)\). একইভাবে দেখানো যায়,
    \( a^p \equiv (a-1)^p + 1\) \(\equiv (a-2)^p + 2 \) \(\equiv (a-3)^p + 3\) \( \equiv (a-4)^p + 4 \equiv\) \( \dots \ \equiv \{ a - (a-1) \}^p + (a-1)\) \(\equiv (1)^p + (a-1)\) \( \equiv a \pmod p)\). অর্থাৎ, \(a^p \equiv a \pmod p\).\(\square \)</p>

    <p><b>অনুসিদ্ধান্ত(3.5):</b> যদি মৌলিক সংখ্যা \(p\) দ্বারা \(a\) বিভাজ্য না হয় তাহলে \(a^{p-1} \equiv 1 \pmod p\).</p>

    <p><b>প্রমাণঃ</b> ফার্মার উপপাদ্য হতে \(a^p \equiv a \pmod p\), বা, \(p | (a^p-a) = a(a^{p-1} - 1)\), যেহেতু \(p,a\) কে ভাগ করে না, কিন্তু \(a(a^{p-1}-1)\) কে ভাগ করে, সুতরাং \(p\) অবশ্যই \((a^{p-1}-1)\) কে ভাগ করবে। অর্থাৎ, \(a^{p-1} \equiv 1 \pmod p\) হবে। \(\square \)</p>

    <p><b>সমস্যাঃ</b> \(I)\ 52^{23}\)   কে \(23\) দ্বারা ভাগ করলে কত ভাগশেষ হবে? <br>
      \(II)\) দেখাও যে, \(43^{32} \equiv 30 \pmod {31}\).</p>

    <p><b>একটি ব্যবহার(3.6):</b> ধরা যাক \(a^s\) কে \(p\) দ্বারা ভাগ করলে কত ভাগশেষ থাকবে তা বের করতে হবে, যেখানে \(s\) একটা বড় সংখ্যা। \(s\) কে \((p-1)\) দ্বারা ভাগ করে এমন \(q, r\)  বের কর যেন \(s = (p-1)q + r,\  0 \leq r < p-1\) হয় (উপপাদ্য ১.৩)। অন্য কথায়, \(s\) কে \((p-1)\) দ্বারা ভাগ করে ভাগফল ও ভাগশেষ বের কর। এখন, \(a^s = a^{(p-1)q+r} = (a^{p-1} )^q \times a^r \equiv 1 \times a^r \equiv a^r \pmod p\),যেহেতু \(a^{p-1} \equiv 1 \pmod p\). অর্থাৎ, \(a^s \equiv a^r \pmod p\). এখন \(a^r \pmod p\) বের করা অনেক সহজ হবে। </p>

</body>
</html>
