<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <style>
      body {
        line-height: 200%;
        max-width: 960px;
        margin: 0 auto;
      }
    </style>
    <title>Appendix</title>
  </head>
  <body>
        <h1>পরিশিষ্ট</h1>

        <h3>আরোহ পদ্ধতি <br>
        Principle of  Mathematical Induction </h3>

        <p>গাণিতিক বিভিন্ন প্রমাণে আরোহ পদ্ধতি একটা অন্যতম হাতিয়ার। সব ধরণের গাণিতিক প্রমাণে অহরহ এই পদ্ধতির ব্যবহার করা হয়। সমস্যা সমাধানে এটার এত গুরুত্বের কারণেই এখানে আরোহ পদ্ধতি নিয়ে আলাদাভাবে আলোচনা করা হল। </p>

        <p>গাণিতিক আরোহ পদ্ধতি নানা রকম হতে পারে। সাধারণ (Weak) ও বিশেষ (Strong) আরোহ পদ্ধতি নিয়ে এখানে আলোচনা করা হল। </p>

        <p><b>Weak Mathematical Induction Principle:</b> যদি \(P(A)\) গাণিতিক বাক্যটি (statement) <br>
        	\(I)\ n = 1\) এর জন্য সত্য হয়, এবং <br>
        	\(II)\) যেকোন \(n\) এর জন্য সত্য হলে \(n+1\) এর জন্যও সত্য হয়, তবে সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য \(P(A)\) গাণিতিক বাক্যটি সত্য হবে। </p>

        <p>এখন এই নীতি ব্যবহার করে সমস্যা সমাধানের কিছু নমুনা দেখা যাক। </p>

        <p><b>উদাহরন 1</b>. প্রমাণ কর যে, সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(1 + 2 + \dots +n = \frac{n(n+1)}{2}\).

        <p><b>সমাধানঃ</b> ধরা যাক, যেকোন স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(P(A): \ 1 + 2 + \dots +n = \frac{n(n+1)}{2}\). স্পষ্টত, জন্য \(P(1)\) সত্য। এখন, কোন স্বাভাবিক সংখ্যা \(n\) এর জন্য \(P(n)\) সত্য হলে, \(1+2+ \dots + n = \frac{n(n+1)}{2} \dots (A)\). হবে। এখন \(P(n+1)\) সত্য হবে যদি
        \(1 + 2+ \dots +n + (n+1) = \frac{(n+1)(n+2)}{2} \dots (B)\) সত্য হয়। </p>

         <p>এখন \((A)\) এর উভয় দিকে \((n+1)\) যোগ করে পাই, \(1+ 2+ \dots +n + (n+1) = \frac{n(n+1)}{2} + (n+1)\) \(= \frac{n(n+1)+2(n+1)}{2}\) \(= \frac{(n+1)(n+2)}{2}\). অর্থাৎ দেখা যাচ্ছে, \((B)\) সত্য। সুতরাং, গাণিতিক আরোহ পদ্ধতি অনুসারে বলা যায়, সকল স্বাভাবিক সংখ্যা \(n\) এর জন্যই \(P(n)\) সত্য। \(\square \). </p>

         <p><b>সমস্যা1.</b> প্রমাণ কর সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য \(1^2 + 2^2+ \dots + n^2 = \frac{n(n+1)(2n+1)}{6}\). </p>

         <p><b>সমস্যা 2.</b> প্রমাণ কর সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য \(1^3 + 2^3 + \dots + n^3 =(\frac{n(n+1)}{2})^2\). </p>

        <p><b>সমস্যা 3.</b> প্রমান কর সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(1+ 3 + 5+ \dots + (2n-1) = n^2\). </p>

        <p><b>সমস্যা 4.</b> প্রমাণ \(n\) সংখ্যক উপাদান বিশিষ্ট সেটের মোট উপসেট সংখ্যা হবে \(2^n\). </p>

        <p><b>সমস্যা 5.</b> প্রমাণ কর যে, সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(\prod_{i=2}^n (1-\frac{1}{i}) = \frac{1}{n}\). (এখানে \(\prod \) চিহ্ন দ্বারা গুণ বোঝানো হয়েছে।) </p>

        <p><b>উদাহরণ 2.</b> প্রমাণ কর, সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(3^n > n^2\). </p>

        <p><b>সমাধানঃ</b> ধরা যাক, \(P(n): \ 3^n > n^2\), সকল \(n \in \mathbb{N}\) এর জন্য। স্পষ্টত, \(P(1)\) সত্য, কারণ \(3^1 > 1^2\). এখন, কোন স্বাভাবিক সংখ্যা \(n\) এর জন্য \(P(n)\) সত্য হলে, \(3^n > n^2\) হবে। আবার \(P(n+1)\) সত্য হবে যদি \(3^{n+1} > (n+1)^2 \dots (B)\) হবে। এখন, \(3^{n+1} = 3 \times 3^n = 3^n + 3^n + 3^n > n^2 + 2n + 1 = (n+1)^2\). অর্থাৎ \((B)\) সত্য। সুতরাং বলা যায়, সকল স্বাভাবিক সংখ্যা \(n\) এর জন্য, \(3^n > n^2\) হবে। </p>

        <p><b>সমস্যা 6.</b> প্রমাণ কর, স্বাভাবিক সংখ্যা \(n>3\) এর জন্য, \(n! > 2^n\) হবে। </p>


        <h3>Strong Mathematical Induction </h3>

        <p>\(P(n)\) গাণিতিক বাক্যটি যদি <br>

        \(l) \ n=1\) এর জন্য সত্য হয়, এবং <br>
        \(II) \ 1 \leq n \leq k\) এর জন্য সত্য হলে \(n = k+1\) এর জন্যও সত্য হয়, <br>

        তাহলে সকল \(n \in \mathbb{N}\) এর জন্যই \(P(n)\) সত্য হবে। </p>


        <h3>Cauchy’s Induction: </h3>

        <p>যদি \(P(n)\) গাণিতিক বাক্যটি
        \(I)\ n=1\) এর জন্য সত্য হয়; <br>
        \(II)\ P(n)\) সত্য হলে \(P(2n)\) এবং \(P(n-1)\) উভয়ই সত্য হয়, <br>

        তাহলে, সকল \(n \in \mathbb{N}\) এর জন্য \(P(n)\) সত্য হবে। </p>

        <p>*লক্ষ্য কর, এখানে \(P(2n)\) এ \(2\) এর জায়গায় যেকোন \(k \in \mathbb{N} \\ \{1\}\) নিলেও সত্য হয়। </p>


        <h3>একটি দরকারি অসমতা </h3>

        <p><b>উপপাদ্যঃ</b> অঋণাত্মক বাস্তব সংখ্যা \(a,b\) এর জন্য, \(\frac{a+b}{2} \geq \sqrt{ab}\) </p>

        <p><b>প্রমাণঃ</b> বাস্তব সংখ্যার বর্গ সর্বদা অঋণাত্মক। সুতরাং \((a-b)^2 \geq 0\), বা, \((a+b)^2 - 4ab \geq 0\), বা, \((a+b)^2 \geq 4ab\). এখন, \(a,b\) উভয়েই অঋণাত্মক হওয়ায় \((a+b)\) এবং \(ab\) উভয়ই অঋণাত্মক হবে। ফলে উভয়পক্ষের বর্গমূল নিয়ে বলা যায়, \((a+b) \geq 2\sqrt{ab}\), বা,
        \(\frac{a+b}{2} \geq \sqrt{ab}\). (\square \)</p>

        <p><b>সাধারণ আকারঃ </b> অঋণাত্মক বাস্তব সংখ্যা \(a_1,\dots , a_n\) এর জন্য,
        \( \cfrac{a_1 + \dots + a_n}{n} \geq \sqrt{a_1 \dots a_n}\).\ </p>

        <p><b>প্রমাণের Hint:</b> \(n = 1,2\) এর জন্য আগেই দেখানো হয়েছে। এখন প্রথমে \(P(n)\) সত্য ধরে \(P(2n)\) সত্য দেখাও। এরপর \(P(n)\) সত্য ধরে \(P(n-1)\) সত্য দেখাও। এই ধাপের জন্য \(a_n = \large{\sqrt[n-1] {a_1 a_2 \dots a_{n-1}}}\) ধর। \( \square \)</p>

        <h3>সূত্রাবলী </h3>
        <ul>
        	 <li> \((a+b)^2 = a^2 + 2ab + b^2\)
        	<li>\((a-b)^2=a^2-2ab+b^2\)
        	<li>\((a+b)^2-(a-b)^2=4ab\)
        	<li>\((a+b)^2+(a-b)^2=2(a^2+b^2 )\)
        	<li>\((a+b)^3=a^3+3a^2 b+3ab^2+b^3\)
        	<li>\((a+b)^3=a^3+3ab(a+b)+b^3\)
        	<li>\((a-b)^3=a^3-3a^2 b+3ab^2-b^3\)
        	<li>\((a-b)^3=a^3-3ab(a-b)-b^3\)
        	<li>\(a^3+b^3=(a+b)^3-3ab(a+b)\)
        	<li>\(a^3+b^3=(a+b)(a^2-ab+b^2 )\)
        	<li>\(a^3-b^3=(a-b)(a^2+ab+b^2 )\)
        	<li>\(a^3-b^3=(a-b)^3+3ab(a-b)\)
        	<li>\(a^n-b^n=(a-b)(a^{n-1} + a^{n-2} b + a^{n-3} b^2+ \dots + ab^{n-2} + b^{n-1});\ [n \in \mathbb{N}]\)
        	<li>\(a^n + b^n=(a+b)(a^{n-1}-a^{n-2} b + a^{n-3} b^2 - a^{n-4} b^3+ \dots - ab^{n-2} + b^{n-1})\ [n\) is odd positive integer.]
          </ul>
<h3>শেষের শুরু </h3>

          <p><b>যাত্রার কেবল শুরু এটি </b></p>

          <p>যদি এই বইটি তুমি আগাগোড়া পড়ে থাকো, সমাধান না দেখে অন্তত অর্ধেক সমস্যা সমাধানের চেষ্টা করে থাক, তাহলে অভিনন্দন। তুমি সমস্যা সমাধানের জগৎ-এ খানিকটা ঢুকে পড়েছ! কিন্তু এইটাই শেষ নয়। আরও অনেক দূর যাওয়ার আছে। সমস্যা সমাধানে দক্ষ হতে হলে সমস্যা নিয়ে অনেক অনেক চিন্তা করার অভ্যাস করাটা সবচেয়ে জরুরি। আর এই ভালো করাটা একটা লম্বা প্রক্রিয়া, এক-দুই সপ্তাহ বা মাসের ব্যাপার না। বরং বছরের পর বছরের সাধনা দরকার এর জন্য। এই অংশে কিছু বই আর অনলাইন রিসোর্স এর কথা বলবো, যেগুলো তোমার এই যাত্রার সহায়ক হবে। আরেকটা কথা বলা দরকার, ইংরেজিতে লেখা বই পড়ার অভ্যাস করাটাও জরুরি, কারণ বেশিরভাগ ভালো গণিতের বই কেবল ইংরেজিতেই পাওয়া যাবে। তাছাড়া বিভিন্ন আন্তর্জাতিক পর্যায়ের প্রতিযোগিতায় ইংরেজিতেই আমাদের অংশ নিতে হয়। তাই প্রথম প্রথম কিছু কষ্ট হলেও ইংরেজিতে সমাধান লেখার অভ্যাসটাও করে নিতে চেষ্টা করবে। </p>

          <ol> <b>সংখ্যাতত্ত্ব </b>

            <li>Number Theory - S G Telung
            <li>Number Theory For Mathemetical Contests - David A Santos*
            <li> 104 Number Theory Problems From The Training Of  USA IMO Training - Titu Andresscu, Dorin Andrica,  and  Zuming Feng
            <li>Number Theory: Structures, Examples and Problems - Titu Andresscu
            <li>সংখ্যাতত্ত্বে আনন্দভ্রমন - রক্তিম বড়ুয়া
            <li> Olympiad Number Theory Through Challenging Problems - Justin Stevens
          </ol>

          <ol> <b>জ্যামিতি</b>

            <li>নবম দশম শ্রেণির জ্যামিতি বই
            <li>জ্যামিতির দ্বিতীয়পাঠ / Geometry Revisited
          </ol>

          <ol> <b>কম্বিনেটরিক্স </b>
           <li> A Path To Combinatorics For Undergradutes - Titu Andresscu And Zuming Feng
          </ol>

          <ol> <b>সমস্যার বই </b>

          <li>অলিম্পিয়াড সমগ্র
          <li> যারা গণিত অল্যম্পিয়াডে যাবে
          <li> বহুপথে পিথাগোরাস ও অন্যান্য সমস্যা।
          <li> The Art And Craft Of Problem Solving - Zuming Feng
          <li> An Excurssion In Mathematics
          <li> Problems For the Mathematical Olympiads
          <li> Problem Solving Strategies
          <li> Mathematical Olympiad Challenges
          <li> The IMO Compendium
          <li>500 Mathematical Challenges
          </ol>

          <ol><b>ইন্টারনেটের যত রিসোর্সঃ</b>

          <li>http://www.artofproblemsolving.com/community
          <li>http://matholympiad.org.bd/forum/
          <li>এই ওয়েবসাইটে বাংলাদেশ গণিত অলিম্পিয়াডের যাবতীয় খোঁজ খবর পাবে http://www.matholympiad.org.bd/
          <ol>
    </body>
</html>
