<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title></title>
  </head>
  <body>

  <h1>অধ্যায়  ৮</h1>

  <h2> বর্গমূল বের করার একটি পদ্ধতি </h2>

  <p> কোন পূর্ণসংখ্যা একটি পূর্ণবর্গ হলে বর্গমূল বের করার জন্য সংখ্যাটিকে উৎপাদকে বিশ্লেষণ করা যেতে পারে। যেমন, \( 196 = 2 \times 98 \) \(= 22 \times 49\) \(= 2^2 \times 7^2\) \(= (2 \times 7)^2\),অর্থাৎ, \(196 = 14^2\). কিন্তু সংখ্যাটি যদি পূর্ণবর্গ না হয় অথবা পূর্ণসংখ্যাই না হয় তাহলে? কোন পূর্ণসংখ্যা পূর্ণবর্গ না হলে এর বর্গমূল অমূলদ হবে। এরকম ক্ষেত্রে দশমিকের পর এক বা দুই ঘর পর্যন্ত আসন্ন মান সহজেই বের করা যায়। </p>

  <p>ধরা যাক আমরা \(15\) এর বর্গমূল দশমিকের পর একঘর পর্যন্ত বের করতে চাই। এখন, \(15 = \frac{1500}{100}\). এখন \(1500\) এর চেয়ে ছোট সবচেয়ে বড় পূর্ণবর্গ বের করি। যেহেতু \(40^2 = 1600\), সুতরাং \( \sqrt{1500} < 40.\ (40-1)^2 = 1600 - 80 + 1 = 1521,\ (40-2)^2 = 1600 - 160 + 4 = 1444\). অর্থাৎ, \(38^2 < 1500 < 39^2\). তাহলে বলা যায়, \( \sqrt{1500} \approx 39\) বা, \( \sqrt{\frac{1500}{100}} \approx \frac{39}{10}\). অর্থাৎ, \( \sqrt{15} \approx 3.9\). একঘর পর্যন্ত আসন্ন মান পেয়ে গেলাম। লক্ষ্য কর, এখানে কিন্তু \( \sqrt{1500}\) এর আসন্ন মান \(39\) নেওয়া হয়েছে, \(38\) নেওয়া হয়নি। কারণ, \(\sqrt{1500}\) এর মান, \(38\) অপেক্ষা \(39\) এর নিকটবর্তী। </p>

  <p>যদি আমরা দুই ঘর পর্যন্ত আসন্ন মান পেতে চাই তাহলে? একইভাবে \(15 = \frac{150000}{10000}\) লেখা যায়। তখন \(150000\) এর চেয়ে ছোট সবচেয়ে বড় পূর্ণবর্গ বের করে নিতে হবে। সেটা হল \(387^2\). অর্থাৎ দুই ঘর পর্যন্ত \( \sqrt{15} \approx 3.87\). </p>

  <p><b>দশমিকযুক্ত সংখ্যা</b></p>

  <p>\(54.3\) এরকম সংখ্যার ক্ষেত্রেও আমরা আগের মত লিখব \( 54.3 = \frac{5430}{100}\), এরপর আগের মতই বর্গমূল বের করা যাবে। </p>

  <p>এখন কথা হতে পারে \(1500\) বা \(150000\) এর চেয়ে ছোট সবচেয়ে বড় পূর্ণসংখ্যা কিভাবে বের করা যাবে। এর জন্য মূলত ট্রায়াল অ্যান্ড এরর এর উপরেই নির্ভর করতে হবে। তবে কৌশল ব্যাবহার করে হিসাবের পরিমাণ অনেকটা কমিয়ে আনা যায়। প্রথমত সংখ্যাটি কত হতে পারে তা আন্দাজ করে নিতে হবে। যেমন \(1800\) এর ক্ষেত্রে বোঝা যাচ্ছে এর বর্গমুল \(40\) এর চেয়ে বড় হবে, যেহেতু \(40^2 = 1600\). এখন ক্রমান্বয়ে \(41^2,\ 42^2, \dots \) বের করে দেখবো। \( (a+b)^2 = a^2 + 2ab + b^2\) সূত্রের ব্যবহার করে এগুলো সহজে বের করা যাবে। যেমন, \(412\) \(= (40+1)^2\) \(= 40^2 + 2 \times 40 \times 1 + 1^2\) \(= 40^2+ 2 \times 40 + 1 = 1600 + 81\) \(= 1681\). আবার \(41^2\) এর মান ব্যবহার করে \(42^2\) এর মান বের করবো। \(42^2 = (41+1)^2 = 41^2 + 2 \times 41 \times 1 + 1^2\) \(= 1681 + 82 + 1\) \(= 1764\). বোঝা যাচ্ছে \(43^2\) এর মান \(1800\) এর চেয়ে বড় হবে। </p>

  <p>এখন, এই পদ্ধতি ব্যাবহার করে \(2, 3, 17, 99, 170, 2623\) সংখ্যাগুলোর  বর্গমূল বের কর। </p>

  </body>
</html>
