<h1>সূচি</h1>

<h2>সংখ্যাতত্ত্ব </h2>

<h3>প্রথম খণ্ড </h3>
<ul>
      <li><a href={{ url_for('view_chapter_1')}}>অধ্যায় ১ - বিভাজ্যতা ও মৌলিক সংখ্যা</a>
      <li><a href={{ url_for('view_chapter_2')}}>অধ্যায় ২ - গ.সা.গু এবং ল.সা.গু</a>
      <li><a href={{ url_for('view_chapter_3')}}>অধ্যায় ৩ - মডুলার এরিথমেটিক ও ফার্মার উপপাদ্য</a>
      <li><a href={{ url_for('view_chapter_4')}}>অধ্যায় ৪ - অয়লার ফাংশন এবং অয়লার উপপাদ্য</a>
      <li><a href={{ url_for('view_chapter_5')}}>অধ্যায় ৫ - লিনিয়ার অনুসমতার সমাধান</a>
      <li><a href={{ url_for('view_chapter_6')}}>অধ্যায় ৬ - কিছু ফাংশন</a>
      <li><a href={{ url_for('view_chapter_7')}}>অধ্যায় ৭ - বিভাজ্যতার পরিক্ষা</a>
      <li><a href={{ url_for('view_chapter_8')}}>অধ্যায় ৮ - বর্গমূল বের করার একটি পদ্ধতি</a>
</ul>

<h3>দ্বিতীয় খণ্ড</h3>

<ul><li><a href={{ url_for('view_chapter_9')}}>অধ্যায় ৯ - ফলাফল, সমস্যা ও সমাধান<a>
  <ul>
    <li>বর্গ আর শেষ অঙ্ক
    <li>ফার্মা আর অয়লারের উপপাদ্য
    <li>আরও বিভাজ্যতা
    <li>উৎপাদক সংখ্যা
    <li>ডায়োফেন্টাইন সমীকরণ</ul>
</ul>

<ul><li><a href={{ url_for('view_chapter_10')}}> অধ্যায় ১০ - আরও অনেক সমস্যা</a> </li></ul>

<h3> তৃতীয়-খন্ড </h3>

<ul><li><a href={{url_for('view_chapter_11')}}>অধ্যায় ১১ বিশেষ কিছু সমস্যা </a>
<ul>
      <li>১১.১ - অর্ডার আর ক্ষুদ্রতম মৌলিক উৎপাদক
      <li>১১.২ - একটা বিশেষ কনগ্রুয়েন্স
      <li>১১.৩ - LTE (Lifting the Exponent Lemma)
</ul>
</ul>

<ul><li><a href={{ url_for('view_chapter_10_8')}}>ফাংশনাল ইকুয়েশন </a></li></ul>

<h3> চতুর্থ-খন্ড </h3>

<ul><li> <a href={{url_for('view_chapter_c1')}}> কম্বিনেটরিক্স </a>
  <ul>
   <li>যোগ আর গুণের ধারণা
   <li>কিছু অভেদ আর দ্বিপদী উপপাদ্য
   <li>গ্রাফের প্রাথমিক ধারণা [NOT AVAILABLE YET]
   <li>অলিম্পিয়াড সমস্যা ও সমাধান
   <li>সমস্যা
</ul>
</li></ul>

<ul><li><a href = {{url_for('view_chapter_appendix')}}> পরিশিষ্ট</a>
      <ul>
      <li>গাণিতিক আরোহ পদ্ধতি
      <li>দরকারি একটা অসমতা
      <li>সূত্রাবলি
      <li>শেষের শুরু
      </ul>
      </li>
</ul>
