
<!DOCTYPE html>

<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <style>
    body {
        max-width: 960px;
        margin: 0 auto;
        line-height: 150%;
      }
  </style>
    <title></title>
  </head>
  <body>
        <h1>ভূমিকা</h1>

         <p>গণিত অলিম্পিয়াড শুরু করার পর থেকে আমাদের অনেক অভিজ্ঞতা হচ্ছে। তবে, সবচেয়ে যে বিষয়টি আমি নতুন করে উপলব্ধি করেছি তা হল আমাদের শিক্ষার্থীদের সৃজনশীলতা এবং নতুন কিছু করার ব্যাপারে দারুণ উৎসাহ। শুরুতেই যে অভাবটা আমরা তীব্রভাবে অনুভব করেছি তা হল বাংলা ভাষাতে গণিতের বই। আমার একটা ধারণা ছিল এই শূণ্যস্থান পূরণ করবেন আমাদের জ্যেষ্ঠ গণিতবিদ ও শিক্ষাবিদেরা। কিন্তু, আমাকে অবাক করছে আমাদের গণিত অলিম্পিয়াডের  একাডেমিক দল। তাদের বেশিরভাগই বিশ্ববিদ্যালয় পড়ুয়া। কয়েক বছর প্রশ্ন তৈরী, উত্তর পত্র মূল্যায়ন অনলাইন ও আবাসিক ক্যাম্পের মেন্টরিং এই সবের সঙ্গে তারা যুক্ত থাকে। আর এখন এর সঙ্গে যুক্ত হয়েছে বাংলা ভাষাতে গণিতের বই প্রকাশ। গণিত অলিম্পিয়াদেরে একাডেমিক দলের পরে এবার এই দলে নাম লেখালো ২০১৪ সালে আন্তর্জাতিক গণিত অলিম্পিয়াডে বাংলাদেশের প্রতিনিধিত্বকারী মুতাসিম মিম। </p>

        <p>মুতাসিম মিম চলতি বছরে এইচ.এস.সি.পাস করেছে। এই কারণে আমি তার বইটি আলাদা নজর দিয়ে দেখেছি। কারণ আমাদের  গনিত অলিম্পিয়াডের বইগুলো যাদের জন্য লেখা মিম এখনো সেই দলেই পড়ে! এখন তো সবাই জানে, মানুষ তার সতীর্থদের কাছ থেকেই সবচেয়ে বেশি শেখে। কারণ তখন শিক্ষক-শিক্ষার্থীর মনোজগত হয় একই রকম। আন্তর্জাতিক গণিত অলিম্পিয়াদের মধ্যে সংখ্যাতত্ত্ব ও কম্বিনেটরিক্স রয়েছে। এইএসসি পর্যন্ত আমাদের শিক্ষাক্রমে এই দুটোরই উপস্থিতি প্রায় শূণ্যে কোঠায়। এ জন্য আইএমও-র প্রস্তুতিতে আমাদের এই দুই বিষয়ে প্রভূত জোর দিতে হয়। </p>

        <p>মুতাসিম মিম এই দুইটি বিষয়ের কয়েকটি ধারণা নিয়ে এই বইটি সংকলন করেছে। মূল বিষয়গুলো সহজভাবে, নিজের মত করে ব্যাখ্যা করার পাশাপাশি প্রচুর উদাহরণ ও সমস্যা নিয়ে আলোচনা করেছে মিম। এটি এই বই-এর একটি উল্লেখযোগ্য দিক। তাছাড়া কিছু বিশেষ বিশেষ সমস্যা ও তার সমাধান নিয়ে আলোচনা রয়েছে বইটিতে। </p>

        <p>যারা দেশে বা আন্তর্জাতিক অঙ্গণে গণিত অলিম্পিয়াডে ভাল করতে ইচ্ছুক কিংবা যারা গনিতের রস-আস্বাদনে আগ্রহী তাদের দুই দলেরই মনের খোরাক মেটাবে মুতাসিম মিমের এই বইটি। </p>

        <p>আর আমার আশাবাদ, মিমের মত আরো অনেকেই তাদের নিজেদের অভিজ্ঞতার ঝাঁপি মেলে ধরবে আমাদের নতুন গণিত সৈনিকদের সামনে।</p>

        <p>মুতাসিম মিম ও তার বই-এর সেকেন্ড ডিফরেন্সিয়াল নেগিটিত হোক।<p>

        <p>১৫ সেপ্টেম্বর,<br>
        কাওরানবাজার, ঢাকা।<br>
        মুনির হাসান<br>
        সাধারণ সম্পাদক<br>
        বাংলাদেশ গণিত অলিম্পিয়াড কমিটি।</p>

        <h1>লেখকের ভূমিকা</h1>

        <P>বইটা কেন ও  কাদের জন্য?</p>

        <p>বাংলাদেশে গণিত অলিম্পিয়াডের যাত্রা শুরুর এক যুগেরও বেশি সময় পেরিয়ে গেছে। এর মাঝে আমাদের দেশের ছেলেমেয়েদের মধ্যে গণিত নিয়ে চিন্তা ভাবনার একটা সংস্কৃতি যে ব্যপক হারে গড়ে উঠেছে তা বলার অপেক্ষা রাখে না। কিছু শিক্ষার্থী শুরু থেকেই অলিম্পিয়াডের  বিষয়টি আগ্রহ দিয়ে নেয় এবং এর জন্য খাটাখাটনিও করে। এ বইটা  তাদের জন্যই লেখা হয়েছে। </p>

        <p>বইয়ের গোঁড়ার দুই একটা কথা না বললে আসলে এ বই লেখার উদ্দেশ্য বোঝা যাবে না।  বাংলাদেশে গণিত অলিম্পিয়াডের জন্য বাংলা বই যথেষ্ট নেই। আমি যেটুকু দেখেছি, বাংলায় মানসন্মত সংখ্যাতত্ত্বের বইয়ের সংখ্যা শুন্যের কোঠায়। আমি নিজে যখন এ ধরনের গণিত নিয়ে পড়াশুনা শুরু করি তখন থেকেই এই ধরনের একটা বাংলা বইয়ের অভাব বোধ করতাম। সেখান থেকেই এটা  লেখার অণুপ্রেরনা। </p>

        <p>বইটি মূলত তিন অংশে বিভক্ত। প্রথমটি হল সংখ্যাতত্ত্বের একেবারে গোঁড়া থেকে ধাপে ধাপে অনেকগুলো বিষয়ের ডেভলপমেন্ট। মাঝের অংশটি হল সমস্যা সমাধানের অনেকগুলো কৌশল নিয়ে আলোচনা যাতে ফাংশনাল ইকুয়েশনের মত বিষয়ও যুক্ত হয়েছে। শেষ অংশটা হল কম্বিনেটরিক্সের।  এছাড়া নূতন শিক্ষার্থীদের সুবিধার জন্য শেষে পরিশিষ্টে আরোহ পদ্ধতি, সাধারণ অসমতা আর  ইংরেজি পরিভাষাগুলোও যুক্ত করা হয়েছে। </p>

        <p>বইটি মূলত জুনিয়র আর সেকেন্ডারির শিক্ষার্থীদের উপযোগী করে লেখা হয়েছে। বীজগণিতের যোগ, বিয়োগ, গুন, ভাগ এর ধারণা আছে এমন যে কেউই বইটি পড়তে পারে।  গণিত অলিম্পিয়াডের প্রস্তুতির উদ্দেশ্যে লেখা হলেও  গণিত বা সমস্যা সমাধান করতে ভালবাসে এমন যে কেউই বইটি পড়ে আনন্দ পাবে । </p>

        <p>বইটাতে  পরিমার্জনের প্রয়োজনীয় পরামর্শ দেওয়ার জন্য জাফর ইকবাল স্যারকে ধন্যবাদ। এছাড়া  বইটা প্রকাশে সার্বিকভাবে সাহায্য করার তুশার চক্রবর্তী আর রনি ভাইয়াকেও অসংখ্য ধন্যবাদ।</p>

        <p>মুতাসিম মিম<br>
        এপ্রিল,২০১৫ </p>
      </body>
  </html>
